<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="col-6 d-flex justify-content-center">
      <div class="cont">
        <div class="shape">
          <div class="image"></div>
        </div>
        <h3>Dario Bravo</h3>
        <p class="title">&commat;DaradFet</p>
        <button class="btn btn-primary btn-lg">
          <i class="fa-solid fa-user-pen"></i>&nbsp;&nbsp;Editar
        </button>
      </div>
    </div>
    <div class="col-6 d-flex justify-content-center">
      <div class="card">
        <h3 class="card-header text-center">Edicion de datos</h3>
        <div class="card-content">
          <form class="form-grid">
            <div class="form-section">
              <div class="form-floating mt-2">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nombre:"
                  id="nombre"
                />
                <label for="floatingInput">Nombre:</label>
              </div>
              <div class="form-floating mt-2">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Direccion:"
                  id="direccion"
                />
                <label for="floatingInput">Direccion:</label>
              </div>
              <div class="form-floating mt-2">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Username:"
                  id="username"
                />
                <label for="floatingInput">Username:</label>
              </div>
            </div>
            <div class="form-section">
              <div class="form-floating mt-2">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Email:"
                  id="email"
                />
                <label for="floatingInput">Email:</label>
              </div>
              <div class="form-floating mt-2">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Telefono:"
                  id="telefono"
                />
                <label for="floatingInput">Telefono:</label>
              </div>
              <div class="form-floating mt-2">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password:"
                  id="password"
                />
                <label for="floatingInput">Password:</label>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="button-container">
            <button class="btn btn-success btn-lg">
              <i class="fa-solid fa-floppy-disk"></i>&nbsp;&nbsp;Guardar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
