<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="col-6 d-flex justify-content-center mt-4">
      <div class="cont">
        <div class="shape">
          <div
            class="image"
            [ngStyle]="{
              'background-image': 'url('+ backgroundImageUrl + ')',
              'rotate': '-5deg'
            }"
          ></div>
        </div>
        <h3>{{ user.name }}</h3>
        <br />
        <span>{{ user.email }} </span
        ><span class="title">- {{ user.role }}</span>
      </div>
    </div>
    <div class="col-6 d-flex justify-content-center">
      <div class="card">
        <h3 class="card-header text-center">Edicion de datos</h3>
        <div class="card-content">
          <form
            class="form-grid"
            [formGroup]="userFormEdit"
            (ngSubmit)="editarPerfilUsuario()"
          >
            <div class="form-section">
              <div class="form-floating mt-2">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nombre:"
                  id="nombre"
                  [value]="userFullName"
                  formControlName="fullName"
                  (keydown)="validateInput($event)"
                />
                <label for="floatingInput">Nombre:</label>
              </div>
              <div class="form-floating mt-2">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Direccion:"
                  id="direccion"
                  [value]="userDireccion"
                  formControlName="direccion"
                />
                <label for="floatingInput">Direccion:</label>
              </div>
            </div>
            <div class="form-section">
              <div class="form-floating mt-2">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Email:"
                  id="email"
                  [value]="userEmail"
                  formControlName="email"
                  (keydown)="validateEmailInput($event)"
                />
                <label for="floatingInput">Email:</label>
              </div>
              <div class="form-floating mt-2">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Telefono:"
                  id="telefono"
                  [value]="userPhoneNumber"
                  formControlName="phoneNumber"
                  (keydown)="validatePhoneNumber($event)"
                />
                <label for="floatingInput">Telefono:</label>
              </div>
            </div>
            <div class="form-floating mt-2">
              <input
                readonly
                type="text"
                class="form-control"
                placeholder="Tarjeta:"
                id="tarjet"
                [value]="userTarjeta"
              />
              <label for="floatingInput">Mi tarjeta:</label>
            </div>
            <div class="button-container mt-2 align-items-center">
              <button
                class="btn btn-primary btn-lg"
                type="submit"
                [disabled]="userFormEdit.invalid"
              >
                <i class="fa-solid fa-floppy-disk"></i>&nbsp;&nbsp;Editar perfil
              </button>
            </div>
          </form>
          <hr />
          <form [formGroup]="tarjetaForm" (ngSubmit)="actualizarTarjeta()">
            <div class="row mt-4">
              <div class="col-6">
                <div class="form-floating mt-2">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Tarjeta:"
                    id="tarjeta"
                    formControlName="cardNumber"
                    (keydown)="validateNumberInput($event)"
                  />
                  <label for="floatingInput">Ingresa tu tarjeta:</label>
                  <div
                    *ngIf="
                      tarjetaForm.get('cardNumber')?.invalid &&
                      tarjetaForm.get('cardNumber')?.touched
                    "
                    class="text-danger"
                    class="text-danger"
                  >
                    El número de tarjeta debe tener 16 dígitos.
                  </div>
                </div>
              </div>
              <div class="col-6 mt-1">
                <div class="button-container mt-2">
                  <button
                    class="btn btn-success btn-lg"
                    type="submit"
                    [disabled]="tarjetaForm.invalid"
                  >
                    <i class="fa-solid fa-credit-card"></i>&nbsp;&nbsp;Agregar
                    tarjeta
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-6 d-flex justify-content-center mt-5">
      <div class="card-password-form mb-5">
        <h3 class="card-header text-center">Cambiar contraseña</h3>
        <div class="card-content">
          <form
            class="form-grid"
            [formGroup]="profileFormPass"
            (ngSubmit)="cambiarPass()"
          >
            <div class="form-section">
              <div class="form-floating mt-2">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password Actual:"
                  id="passwordCurrent"
                  formControlName="currentPassword"
                />
                <label for="floatingInput">Contraseña Actual:</label>
              </div>
              <div class="form-floating mt-2">
                <input
                  type="email"
                  readonly
                  class="form-control"
                  placeholder="Email:"
                  id="emailPass"
                  formControlName="userEmail"
                />
                <label for="floatingInput">Email:</label>
              </div>
            </div>
            <div class="form-section">
              <div class="form-floating mt-2">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Nuevo Password:"
                  id="passwordNew"
                  formControlName="newPassword"
                />
                <label for="floatingInput">Nueva contraseña:</label>
              </div>
              <div class="button-container">
                <button class="btn btn-success btn-lg" type="submit">
                  <i class="fa-solid fa-floppy-disk"></i>&nbsp;&nbsp;Guardar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-6 d-flex justify-content-center mt-5">
      <div class="card-picture-form">
        <h3 class="card-header text-center">Agregar Imagen</h3>
        <div class="card-content">
          <form (ngSubmit)="subirFoto()">
            <div class="form-section">
              <div class="form-floating mt-2">
                <input
                  type="file"
                  class="form-control"
                  id="foto"
                  (change)="cargarFoto($event)"
                  accept=".webp"
                />
                <label for="floatingInput">Foto:</label>
              </div>
            </div>
            <div class="card-footer mt-4">
              <div class="button-container">
                <button class="btn btn-success btn-lg" type="submit">
                  <i class="fa-solid fa-floppy-disk"></i>&nbsp;&nbsp;Agregar
                  Imagen
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
