body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
}

.custom-tabs .nav-link {
  color: black;
  background-color: rgba(233, 231, 231, 0.712);
}

.custom-tabs .nav-link:hover {
  color: black;
  background-color: white;
}

.custom-tabs .nav-link.active {
  color: white;
  background-color: black;
}

.modal-content {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-header {
  background-color: #f4ec99db;
  color: white;
  border-bottom: 1px solid #dee2e6;
}

.modal-footer {
  background-color: #f1f1f1;
  border-top: 1px solid #dee2e6;
}

.modal-title {
  font-weight: bold;
}

.form-label {
  font-weight: bold;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.readonly-input {
  background-color: #e9ecef;
  color: #495057;
  opacity: 1;
  pointer-events: none;
}
