<div class="container">
  <div class="row">
    <div class="col-12 mt-5">
      <p-table
        #dt
        [value]="lampDetail?.detalles || []"
        [scrollable]="true"
        scrollHeight="270px"
        [rowHover]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        [paginator]="true"
        currentPageReportTemplate="Mostrando {first} de {last}"
        [filterDelay]="0"
        [globalFilterFields]="['id', 'name', 'email', 'username', 'password']"
      >
        <ng-template pTemplate="caption">
          <div class="text-center">
            <h3 class="mt-2">
              <b>
                <i class="fa-solid fa-lightbulb"></i>&nbsp;&nbsp;
                {{ nombreLampara }}
              </b>
            </h3>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id">
              <div class="flex justify-content-between align-items-center">
                Id
                <p-sortIcon field="id" />
              </div>
            </th>
            <th pSortableColumn="fechaProduccion">
              <div class="flex justify-content-between align-items-center">
                Fecha Produccion
                <p-sortIcon field="fechaProduccion" />
              </div>
            </th>
            <th pSortableColumn="usuario">
              <div class="flex justify-content-between align-items-center">
                Usuario
                <p-sortIcon field="usuario" />
              </div>
            </th>
            <th pSortableColumn="cantidad">
              <div class="flex justify-content-between align-items-center">
                Cantidad
                <p-sortIcon field="cantidad" />
              </div>
            </th>
            <th pSortableColumn="precio">
              <div class="flex justify-content-between align-items-center">
                Precio
                <p-sortIcon field="precio" />
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-detail>
          <tr class="p-selectable-row">
            <td>{{ detail.id }}</td>
            <td>{{ detail.fechaProduccion }}</td>
            <td>{{ detail.usuario }}</td>
            <td>{{ detail.cantidad }}</td>
            <td>{{ detail.precio }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div *ngIf="cargando" class="spinner-overlay">
      <div class="spinner-container">
        <div class="spinner-wrapper">
          <p-progressSpinner
            styleClass="w-7rem h-7rem"
            strokeWidth="6"
            fill="var(--surface-ground)"
            animationDuration=".8s"
          >
          </p-progressSpinner>
          <img
            src="assets/images/logo-farolito.webp"
            alt="Logo de farolito"
            class="spinner-logo"
          />
        </div>
        <p class="spinner-message">Espere por favor...</p>
      </div>
    </div>
  </div>
</div>
