<div class="container">
  <div class="row m-5">
    <div class="col-12">
      <div class="card">
        <h3 class="card-header text-center">
          <i class="fa-solid fa-user-pen"></i>&nbsp;&nbsp;Editar Empleado
        </h3>
        <div class="card-content">
          <form
            class="form-grid"
            [formGroup]="formEditEmployee"
            (ngSubmit)="editEmployee()"
          >
            <div class="form-section">
              <div class="row">
                <div class="col-6">
                  <div class="form-floating mt-3">
                    <input
                      type="text"
                      class="form-control"
                      id="nombre"
                      formControlName="fullName"
                      (keydown)="validateInput($event)"
                    />
                    <label for="nombre">Nombres:</label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-floating mt-3">
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      formControlName="email"
                      (keydown)="validateInput($event)"
                    />
                    <label for="email">Email:</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-floating mt-3">
                    <input
                      type="text"
                      class="form-control"
                      id="direccion"
                      formControlName="direccion"
                      (keydown)="validateInput($event)"
                    />
                    <label for="floatingInput">Direccion:</label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-floating mt-3">
                    <input
                      type="text"
                      class="form-control"
                      id="telefono"
                      formControlName="phoneNumber"
                      (keydown)="validatePhoneNumber($event)"
                    />
                    <label for="floatingInput">Telefono:</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer mt-3">
              <div class="button-container">
                <button class="btn btn-success btn-lg" type="submit">
                  <i class="fa-solid fa-floppy-disk"></i>&nbsp;&nbsp;Guardar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
