<div class="container">
  <div class="card align-items-center mt-5" style="border: none">
    <div class="row">
      <div class="col-12">
        <p-table
          #dt
          [value]="providers"
          [scrollable]="true"
          scrollHeight="270px"
          [rowHover]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          [paginator]="true"
          currentPageReportTemplate="Mostrando {first} de {last}"
          [filterDelay]="0"
          [globalFilterFields]="['id', 'name', 'email', 'username', 'password']"
        >
          <ng-template pTemplate="caption">
            <div class="d-flex">
              <h3 class="mt-2">
                <b
                  ><i class="fa-solid fa-truck"></i>&nbsp;&nbsp;Administracion
                  de Proveedores
                </b>
              </h3>
              <div
                class="d-flex justify-content-between"
                style="margin-left: 110px"
              >
                <p-iconField iconPosition="left">
                  <p-inputIcon>
                    <i class="pi pi-search"></i>
                  </p-inputIcon>
                  <input
                    pInputText
                    type="text"
                    placeholder="Buscar Proveedor:"
                    class="mt-1"
                  />
                </p-iconField>
                <a
                  routerLink="/crear-proveedor"
                  class="btn btn-success p-3"
                  style="margin-left: 80px"
                >
                  <i
                    class="fa-solid fa-circle-plus"
                    style="margin-right: 5px"
                  ></i>
                  Agregar
                </a>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="id" style="min-width: 5rem">
                <div class="flex justify-content-between align-items-center">
                  Id
                  <p-sortIcon field="id" />
                </div>
              </th>
              <th pSortableColumn="nombreEmpresa" style="min-width: 8rem">
                <div class="flex justify-content-between align-items-center">
                  Proveedor
                  <p-sortIcon field="nombreEmpresa" />
                </div>
              </th>
              <th pSortableColumn="dirección" style="min-width: 10rem">
                <div class="flex justify-content-between align-items-center">
                  Direccion
                  <p-sortIcon field="dirección" />
                </div>
              </th>
              <th pSortableColumn="teléfono" style="min-width: 10rem">
                <div class="flex justify-content-between align-items-center">
                  Telefono
                  <p-sortIcon field="teléfono" />
                </div>
              </th>
              <th pSortableColumn="nombreAtiende">
                <div class="flex justify-content-between align-items-center">
                  Atiende
                  <p-sortIcon field="nombreAtiende" />
                </div>
              </th>
              <th pSortableColumn="apellidoP">
                <div class="flex justify-content-between align-items-center">
                  Apellido P
                  <p-sortIcon field="apellidoP" />
                </div>
              </th>
              <th pSortableColumn="apellidoM">
                <div class="flex justify-content-between align-items-center">
                  Apellido M
                  <p-sortIcon field="apellidoM" />
                </div>
              </th>
              <th></th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-provider>
            <tr class="p-selectable-row">
              <td>
                {{ provider.id }}
              </td>
              <td>
                {{ provider.nombreEmpresa }}
              </td>
              <td>
                {{ provider.direccion }}
              </td>
              <td>
                {{ provider.telefono }}
              </td>
              <td>
                {{ provider.nombreAtiende }}
              </td>
              <td>
                {{ provider.apellidoP }}
              </td>
              <td>
                {{ provider.apellidoM }}
              </td>
              <td>
                <button class="btn btn-danger">
                  <i class="fas fa-trash"></i>&nbsp;Eliminar
                </button>
              </td>
              <td>
                <a routerLink="/editar-proveedor" class="btn btn-primary">
                  <i class="fa-solid fa-pen"></i>&nbsp;Editar;
                </a>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <!-- <div *ngIf="cargando" class="spinner-overlay">
      <div class="spinner-container">
        <div class="spinner-wrapper">
          <p-progressSpinner
            styleClass="w-7rem h-7rem"
            strokeWidth="6"
            fill="var(--surface-ground)"
            animationDuration=".8s"
          >
          </p-progressSpinner>
          <img
            src="assets/images/logo-farolito.webp"
            alt="Logo de farolito"
            class="spinner-logo"
          />
        </div>
        <p class="spinner-message">Espere por favor...</p>
      </div>
    </div> -->
  </div>
</div>
