<div class="container">
  <div class="card align-items-center mt-5" style="border: none">
    <div class="row mt-5">
      <div class="col-12">
        <p-table
          #dtProveedores
          [value]="providers"
          [scrollable]="true"
          scrollHeight="570px"
          [rowHover]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          [paginator]="true"
          currentPageReportTemplate="Mostrando {first} de {last}"
          [filterDelay]="0"
          [globalFilterFields]="['nombreEmpresa']"
        >
          <ng-template pTemplate="caption">
            <div class="d-flex">
              <h3 class="mt-2">
                <b
                  ><i class="fa-solid fa-truck"></i>&nbsp;&nbsp;Administracion
                  de Proveedores
                </b>
              </h3>
              <div
                class="d-flex justify-content-between"
                style="margin-left: 110px"
              >
                <p-iconField iconPosition="left">
                  <p-inputIcon>
                    <i class="pi pi-search"></i>
                  </p-inputIcon>
                  <input
                    pInputText
                    type="text"
                    placeholder="Buscar por proveedor:"
                    class="mt-1"
                    (input)="applyFilterGlobal($event, 'dtProveedores')"
                    (keydown)="validateInput($event)"
                  />
                </p-iconField>
                <a
                  routerLink="/crear-proveedor"
                  class="btn btn-success p-3"
                  style="margin-left: 80px"
                >
                  <i
                    class="fa-solid fa-circle-plus"
                    style="margin-right: 5px"
                  ></i>
                  Agregar
                </a>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="id" style="min-width: 5rem" hidden>
                <div class="flex justify-content-between align-items-center">
                  Id
                  <p-sortIcon field="id" />
                </div>
              </th>
              <th pSortableColumn="nombreEmpresa" style="min-width: 5rem">
                <div class="flex justify-content-between align-items-center">
                  Proveedor
                  <p-sortIcon field="nombreEmpresa" />
                </div>
              </th>
              <th pSortableColumn="direccion" style="min-width: 5rem">
                <div class="flex justify-content-between align-items-center">
                  Direccion
                  <p-sortIcon field="direccion" />
                </div>
              </th>
              <th pSortableColumn="telefono" style="min-width: 12rem">
                <div class="flex justify-content-between align-items-center">
                  Telefono
                  <p-sortIcon field="telefono" />
                </div>
              </th>
              <th pSortableColumn="nombreAtiende">
                <div class="flex justify-content-between align-items-center">
                  Atiende
                  <p-sortIcon field="nombreAtiende" />
                </div>
              </th>
              <th></th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-provider>
            <tr class="p-selectable-row">
              <td style="display: none">
                {{ provider.id }}
              </td>
              <td>
                {{ provider.nombreEmpresa }}
              </td>
              <td>
                {{ provider.direccion }}
              </td>
              <td>
                {{ provider.telefono }}
              </td>
              <td>
                {{ provider.nombreAtiende }}&nbsp;{{
                  provider.apellidoP
                }}&nbsp;{{ provider.apellidoM }}
              </td>
              <td>
                <button
                  (click)="
                    advertenciaEstatus(
                      modalEstatusProveedor,
                      provider.id,
                      !provider.estatus
                    )
                  "
                  class="btn btn-danger"
                >
                  <i class="fas fa-trash"></i>
                </button>
              </td>
              <td>
                <a (click)="selectProvider(provider)" class="btn btn-primary">
                  <i class="fa-solid fa-pen"></i>
                </a>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <div *ngIf="cargando" class="spinner-overlay">
      <div class="spinner-container">
        <div class="spinner-wrapper">
          <p-progressSpinner
            styleClass="w-7rem h-7rem"
            strokeWidth="6"
            fill="var(--surface-ground)"
            animationDuration=".8s"
          >
          </p-progressSpinner>
          <img
            src="assets/images/logo-farolito.webp"
            alt="Logo de farolito"
            class="spinner-logo"
          />
        </div>
        <p class="spinner-message">Espere por favor...</p>
      </div>
    </div>

    <ng-template #modalEstatusProveedor let-modal>
      <div class="modal-header">
        <h5 class="modal-title text-center p-2" id="exampleModalLongTitle">
          <i class="fa-solid fa-circle-exclamation" style="color: red"></i
          >&nbsp;&nbsp;¿Está seguro de que quiere eliminar a este proveedor?
        </h5>
      </div>
      <div class="modal-footer">
        <button
          (click)="cancelarActualizacion()"
          type="button"
          class="btn btn-danger"
        >
          Cancelar
        </button>
        <button
          (click)="actualizarEstatusProveedor()"
          type="button"
          class="btn btn-success"
        >
          Aceptar
        </button>
      </div>
    </ng-template>
  </div>
</div>
<!-- Pues el footer, ¿qué otra cosa sería? -->
<footer class="footer mt-5">
  <div class="footer-top">
    <div class="footer-newsletter">
      <h4>Farolito</h4>
      <p>
        ¡Siguenos en nuestras redes sociales en X (antes twitter) y sé el
        primero en recibir las últimas noticias sobre tendencias, promociones y
        mucho más!
      </p>
      <a href="https://x.com/farolitoficial" target="_blank"
        >https://x.com/farolitoficial</a
      >
    </div>

    <div class="footer-social">
      <a href="https://x.com/farolitoficial" target="_blank"
        ><i class="fa-brands fa-x-twitter"></i
      ></a>
      <br />
      <p>farolitoficial</p>
    </div>
  </div>

  <div class="footer-middle">
    <div class="footer-section">
      <h5>TAF MÉXICO</h5>
      <ul>
        <li><a href="#">Nosotros</a></li>
        <li><a href="#">Tiendas</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h5>AYUDA</h5>
      <ul>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Promociones</a></li>
        <li><a href="#">Facturación</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h5>SERVICIO AL CLIENTE</h5>
      <ul>
        <li><label>Contacto:&nbsp;&nbsp;</label>+52 4772606019</li>
        <li><label>Email:&nbsp;&nbsp;</label>farolitonline&#64;gmail.com</li>
        <li>
          <label>Ubicacion:&nbsp;&nbsp;</label>Blvd. Adolfo Lopez Mateos #218,
          Col. El Coecillo, León Gto.
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="footer-legal">
      <a href="#">Términos de Uso</a>
      <a href="#">Aviso de Privacidad</a>
      <a href="#">Política de Cookies</a>
    </div>

    <div class="footer-payments">
      <img alt="Amex" src="../../../assets/images/footer/amex.jpeg" />
      <img
        alt="Mastercard"
        src="../../../assets/images/footer/mastercard.png"
      />
      <img alt="Visa" src="../../../assets/images/footer/visa.png" />
      <img alt="PayPal" src="../../../assets/images/footer/paypal.png" />
      <img alt="OXXO" src="../../../assets/images/footer/oxxo.png" />
      <img alt="Kueski" src="../../../assets/images/footer/kueski.png" />
    </div>
  </div>
</footer>
