<div class="contenido">
  <div id="signup-container" class="container">
    <div class="logo">
      <img src="assets/images/logo-farolito.webp" alt="Logo"/>
    </div>
    <h1 class="farolito-name">Farolito</h1>
    <div class="divider"></div>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-floating mt-2">
        <input
          type="email"
          class="form-control"
          placeholder="Email:"
          id="signup-email"
          formControlName="email"
          [class.is-invalid]="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched"
        />
        <label for="signup-email">Email:</label>
        <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched"
             class="invalid-feedback">
          El correo es requerido y debe ser válido.
        </div>
      </div>

      <div class="form-floating mt-2">
        <button class="signup-button" type="submit" [disabled]="isSubmitting">
          Recuperar Constrase&ntilde;a
        </button>
      </div>
    </form>

    <p class="sign-in">
      ¿Ya recordaste tu contrase&ntilde;a?
      <a routerLink="/login">Regresar</a>
    </p>
  </div>
</div>
