<div class="contenido">
    <div id="signup-container" class="container">
      <div class="logo">
        <img src="assets/images/logo-farolito.webp" alt="Logo" />
      </div>
      <h1 class="farolito-name">Farolito</h1>
      <div class="divider"></div>
      <div class="form-floating mt-2">
        <input
          type="email"
          class="form-control"
          placeholder="Email:"
          id="signup-email"
        />
        <label for="floatingInput">Email:</label>
      </div>
      <div class="form-floating mt-2">
        <button class="signup-button">Recuperar Constrase&ntilde;a</button>
      </div>
      <p class="sign-in">
        ¿Ya recordaste tu contrase&ntilde;a?
        <a routerLink="/login">Regresar</a>
      </p>
    </div>
  </div>
  