<div class="container justify-content-center">
  <div class="row justify-content-center">
    <div class="card mt-3">
      <p-galleria
        [value]="products"
        [responsiveOptions]="responsiveOptions"
        [containerStyle]="{ 'max-width': '450px', 'max-height': 'auto' }"
        [numVisible]="5"
        [autoPlay]="true"
        [circular]="true"
      >
        <ng-template pTemplate="item" let-item>
          <img
            [src]="getImagenCatalogo(item.imagen)"
            alt="{{ item.nombrelampara }}"
            style="width: 450px; height: auto"
          />
        </ng-template>

        <ng-template pTemplate="caption" let-item>
          <h4 class="title-caption">{{ item.nombrelampara }}</h4>
          <li *ngFor="let comp of item.componentes" class="list-caption">
            {{ comp.nombre }}
          </li>
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
          <div class="grid grid-nogutter justify-content-center">
            <img [src]="getImagenCatalogo(item.imagen)" style="height: 50px" />
          </div>
        </ng-template>
      </p-galleria>
      <div *ngIf="cargando" class="spinner-overlay">
        <div class="spinner-container">
          <div class="spinner-wrapper">
            <p-progressSpinner
              styleClass="w-7rem h-7rem"
              strokeWidth="6"
              fill="var(--surface-ground)"
              animationDuration=".8s"
            >
            </p-progressSpinner>
            <img
              src="assets/images/logo-farolito.webp"
              alt="Logo de farolito"
              class="spinner-logo"
            />
          </div>
          <p class="spinner-message">Espere por favor...</p>
        </div>
      </div>
    </div>
  </div>
</div>
