.card {
  background-color: #f8f9fa;
  border: none;
  width: 450px;
  height: auto;
}

.card-header {
  background-color: black;
  color: white;
}

.title-caption {
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.list-caption {
  font-size: 12px;
  color: white;
}
