<div class="container">
  <div class="card flex justify-content-center mt-4">
    <h3 class="text-center card-header">
      <i class="fa-solid fa-lightbulb"></i>&nbsp;&nbsp;Productos Disponibles
    </h3>
    <p-carousel
      *ngIf="!cargando"
      [value]="products"
      [numVisible]="1"
      [numScroll]="1"
      orientation="vertical"
      verticalViewPortHeight="255px"
    >
      <ng-template let-product pTemplate="item">
        <div class="d-flex flex-column align-items-center">
          <div class="mb-3">
            <img
              [src]="getImagenCatalogo(product.imagen)"
              alt="{{ product.nombrelampara }}"
              width="250"
              class="img-fluid"
            />
          </div>
          <div class="text-center font-weight-bold">
            <b>{{ product.nombrelampara }}</b>
          </div>
        </div>
      </ng-template>
    </p-carousel>
    <div *ngIf="cargando" class="spinner-overlay">
      <div class="spinner-container">
        <div class="spinner-wrapper">
          <p-progressSpinner
            styleClass="w-7rem h-7rem"
            strokeWidth="6"
            fill="var(--surface-ground)"
            animationDuration=".8s"
          >
          </p-progressSpinner>
          <img
            src="assets/images/logo-farolito.webp"
            alt="Logo de farolito"
            class="spinner-logo"
          />
        </div>
        <p class="spinner-message">Espere por favor...</p>
      </div>
    </div>
  </div>
</div>
