.card-header {
  background-color: black;
  color: white;
}

.card-text {
  width: 525px;
  height: 380px;
  border: 1px solid black;
}

.text-light-text {
  color: gray;
  font-weight: bold;
}

.status-container {
  display: flex;
  justify-content: center;
}

.status-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 10px;
}

.status-item i {
  font-size: 1.3rem;
  margin-right: 10px;
  background-color: rgb(225, 223, 223);
  color: black;
  border-radius: 50%;
  padding: 10px;
  width: 2.8rem;
  height: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status {
  font-weight: bold;
  font-size: 1.1rem;
}

.date {
  font-size: 1.1rem;
}

.subtitle {
  font-weight: bold;
  font-size: 1.1rem;
}

.address i,
.pay-method i {
  font-size: 1rem;
  background-color: rgb(225, 223, 223);
  color: black;
  margin-right: 10px;
  border-radius: 50%;
  padding: 10px;
  width: 2.5rem;
  height: 2.5em;
}

.data-details {
  text-transform: uppercase;
}

.fa-lightbulb {
  color: yellow;
  font-size: 1.5rem;
  border-radius: 50%;
  background-color: black;
  padding: 10px;
  width: 2.8rem;
  height: 2.8rem;
}
.footer {
  background-color: #f8f8f8;
  padding: 40px 20px;
  color: #333;
}

.footer h4,
.footer h5 {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer a {
  color: #333;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.footer-newsletter {
  width: 60%;
}

.footer-social a {
  margin: 0 10px;
  font-size: 40px;
  color: #333;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-apps a {
  display: block;
  margin-bottom: 10px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}

.footer-legal a {
  margin-right: 15px;
}

.footer-payments img {
  height: 30px;
  margin-right: 10px;
}
