<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <h3 class="card-header text-center">
          <i class="fa-solid fa-boxes-packing"></i>&nbsp;&nbsp;Agregar Lote
        </h3>
        <div class="card-content">
          <form class="form-grid" #form="ngForm" (ngSubmit)="agregarLote(form)">
            <div class="form-section">
              <div class="form-floating mt-2">
                <input
                  type="date"
                  class="form-control readonly-input"
                  placeholder="Fecha:"
                  id="fecha"
                  [(ngModel)]="fecha"
                  [value]="fecha"
                  readonly
                />
                <label for="fecha">Fecha:</label>
              </div>
              <div class="form-floating mt-2">
                <input
                  type="text"
                  class="form-control readonly-input"
                  placeholder="Lote:"
                  id="lote"
                  [value]="lote"
                  readonly
                />
                <label for="lote">Lote:</label>
              </div>
              <div class="form-floating mt-2">
                <select
                  class="form-control"
                  id="componentesId"
                  [(ngModel)]="selectedComponenteId"
                  name="componentesId"
                  required
                >
                  <option
                    *ngFor="let componente of listaComponentes"
                    [value]="componente.id"
                  >
                    {{ componente.nombre }}
                  </option>
                </select>
                <label for="componentesId">Componente:</label>
              </div>
            </div>
            <div class="form-section">
              <div class="form-floating mt-2">
                <select
                  class="form-control"
                  id="proveedorId"
                  [(ngModel)]="selectedProveedorId"
                  name="proveedorId"
                  required
                >
                  <option
                    *ngFor="let proveedor of providers"
                    [value]="proveedor.id"
                  >
                    {{ proveedor.nombreEmpresa }}
                  </option>
                </select>
                <label for="proveedorId">Proveedor:</label>
              </div>
              <div class="form-floating">
                <input
                  type="number"
                  class="form-control"
                  placeholder="Cantidad:"
                  id="cantidad"
                  min="1"
                  [(ngModel)]="cantidad"
                  name="cantidad"
                  required
                />
                <label for="cantidad">Cantidad:</label>
              </div>
              <div class="form-floating mt-2">
                <input
                  type="number"
                  class="form-control"
                  placeholder="Costo:"
                  id="costo"
                  min="1"
                  [(ngModel)]="costo"
                  name="costo"
                  required
                />
                <label for="costo">Costo:</label>
              </div>
            </div>
            <div class="card-footer">
              <div class="button-container">
                <button type="submit" class="btn btn-success btn-lg">
                  <i class="fa-solid fa-floppy-disk"></i>&nbsp;&nbsp;Guardar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
