<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <h3 class="card-header text-center">
          <i class="fa-solid fa-boxes-packing"></i>&nbsp;&nbsp;Agregar Lote
        </h3>
        <div class="card-content">
          <form class="form-grid">
            <div class="form-section">
              <div class="form-floating mt-2">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Lote:"
                  id="lote"
                />
                <label for="floatingInput">Lote:</label>
              </div>
              <div class="form-floating mt-2">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Cantidad:"
                  id="Cantidad"
                />
                <label for="floatingInput">Cantidad:</label>
              </div>
              <div class="form-floating mt-2">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Proveedor:"
                  id="proveedor"
                />
                <label for="floatingInput">Proveedor:</label>
              </div>
            </div>
            <div class="form-section">
              <div class="form-floating mt-2">
                <input
                  type="text"
                  class="form-control"
                  placeholder="costo:"
                  id="costo"
                />
                <label for="floatingInput">Costo:</label>
              </div>
              <div class="form-floating">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Fecha de Caducidad:"
                  id="caducidad"
                />
                <label for="floatingInput">Fechad de Caducidad:</label>
              </div>
              <div class="form-floating mt-2">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Marca:"
                  id="marca"
                />
                <label for="floatingInput">Marca:</label>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="button-container">
            <button class="btn btn-success btn-lg">
              <i class="fa-solid fa-floppy-disk"></i>&nbsp;&nbsp;Guardar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
