<html>
  <body>
    <header
      style="
        width: 100%;
        height: 505px;
        background-image: url('../../assets/images/lampara-skewed-op2.jpg');
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        position: relative;
        overflow: hidden;
        color: #fff;
        text-align: center;
      "
    >
      <div class="textos">
        <img src="assets/images/logo-farolito.png" alt="" class="logo" />
        <h1 class="titulo">Farolito</h1>
        <h3 class="subtitulo">Eslogan de Farolito</h3>
      </div>
      <div class="sesgoabajo"></div>
    </header>
    <main>
      <section class="acerca-de">
        <div class="contenedor">
          <h2 class="sobre-nosotros">¿Qui&eacute;nes somos?</h2>
          <h3 class="slogan">Eslogan de Farolito</h3>
          <p class="parrafo">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Consequuntur temporibus aliquid, necessitatibus, quia quas ullam
            saepe dolor totam perspiciatis explicabo accusantium harum
            cupiditate libero nobis exercitationem ea voluptates, quidem
            excepturi aperiam aliquam. Animi eius a architecto consectetur
            cumque nesciunt odit eos delectus tempora, dolore voluptas quasi
            repellendus nulla soluta perspiciatis!
          </p>
          <p class="parrafo">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Consequuntur temporibus aliquid, necessitatibus, quia quas ullam
            saepe dolor totam perspiciatis explicabo accusantium harum
            cupiditate libero nobis exercitationem ea voluptates, quidem
            excepturi aperiam aliquam. Animi eius a architecto consectetur
            cumque nesciunt odit eos delectus tempora, dolore voluptas quasi
            repellendus nulla soluta perspiciatis!
          </p>
        </div>
      </section>
      <section class="galeria">
        <div class="sesgoarriba"></div>
        <div class="imagenes">
          <img src="assets/images/lampara-exteriores.jpeg" alt="" />
        </div>
        <div class="imagenes">
          <img src="assets/images/lampara-mesa.webp" alt="" />
        </div>
        <div class="imagenes">
          <img src="assets/images/lampara-colgante.webp" alt="" />
          <div class="encima">
            <h2><img src="assets/images/logo-farolito.png" alt="" /></h2>
            <div></div>
          </div>
        </div>
        <div class="imagenes">
          <img src="assets/images/lampara-moderna.webp" alt="" />
        </div>
        <div class="imagenes">
          <img src="assets/images/lampara-techo.webp" alt="" />
        </div>
        <div class="sesgoabajo"></div>
      </section>
      <section class="miembros">
        <div class="contenedor">
          <h2 class="sobre-nosotros">Sobre nosotros</h2>
          <h3 class="slogan">Entidad empresarial</h3>
          <div class="cards">
            <div class="card">
              <img src="assets/images/lampara-moderna.webp" alt="" />
              <h4 class="titulo-entidad">Misi&oacute;n</h4>
              <p>
                Ofrecer productos unicos que combinen diseño, funcionalidad y
                tecnologia avanzada, proporcionando soluciones de iluminacion
                que mejoren la vida cotidian y contribuyan a un entorno mas
                eficiente y sostenible.
              </p>
            </div>
            <div class="card">
              <img src="assets/images/lampara-exteriores.jpeg" alt="" />
              <h4 class="titulo-entidad">Visi&oacute;n</h4>
              <p>
                Ser l&iacute;deres en la industria de la iluminaci&oacute;n,
                reconocidos por nuestra innovaci&oacute;n, calidad y
                responsabilidad ambiental, aspirando a expandir nuestra
                presencia global, llevando nuestras soluciones a nuevos
                mercados.
              </p>
            </div>
            <div class="card">
              <img src="assets/images/lampara-mesa.webp" alt="" />
              <h4 class="titulo-entidad">Valores</h4>
              <p class="valores">
                <li>Innovaci&oacute;n</li>
                <li>Calidad</li>
                <li>Sustentabilidad</li>
                <li>Oientaci&oacute;n al Cliente</li>
                <li>Integridad</li>
                <li>Responsabilidad Social</li>
              </p>
            </div>
          </div>
        </div>
      </section>
      <section
        class="fondo"
        style="
          height: 950px;
          position: relative;
          background-image: url('../../assets/images/lampara-skewed-op2.jpg');
          overflow: hidden;
          background-attachment: fixed;
          background-position: center;
          padding-top: 130px;
        "
      >
        <div class="sesgoarriba"></div>
        <div class="contenedor">
          <h2 class="titulo-desarrolladores">
            <i class="fa-solid fa-code"></i> Software Team
          </h2>
          <h3 class="subtitulo-desarrolladores mt-3">
            Conoce a nuestros desarrolladores
          </h3>
          <div class="desarrolladores">
            <div class="desarrollador">
              <img src="assets/images/logo-farolito-black.jpg" alt="" />
              <h3 class="rol-dev p-3">Frontend Developer</h3>
              <p class="nombre-dev">Alexa Guerrero</p>
            </div>
            <div class="desarrollador">
              <img src="assets/images/logo-farolito-black.jpg" alt="" />
              <h3 class="rol-dev p-3">Frontend Developer</h3>
              <p class="nombre-dev">Angel Ramirez</p>
            </div>
            <div class="desarrollador">
              <img src="assets/images/logo-farolito-black.jpg" alt="" />
              <h3 class="rol-dev p-3">Backend Developer</h3>
              <p class="nombre-dev">Sergio Salazar</p>
            </div>
            <div class="desarrollador">
              <img src="assets/images/logo-farolito-black.jpg" alt="" />
              <h3 class="rol-dev p-3">Backend Developer</h3>
              <p class="nombre-dev">Dario Bravo</p>
            </div>
            <div class="desarrollador">
              <img src="assets/images/logo-farolito-black.jpg" alt="" />
              <h3 class="rol-dev p-3">Android Developer</h3>
              <p class="nombre-dev">Angel Alvizo</p>
            </div>
          </div>
        </div>
        <div class="sesgoabajo-unico"></div>
      </section>
    </main>
    <footer>
      <div class="contenedor">
        <div class="row">
          <div class="col-12">
            <div class="cardb">
              <h3 class="cardb-header text-center">
                <i class="fa-solid fa-message"></i>&nbsp;&nbsp;Contactanos
              </h3>
              <div class="cardb-content">
                <form class="form-grid">
                  <div class="form-section">
                    <div class="form-floating mt-2">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Nombre:"
                        id="nombre"
                      />
                      <label for="floatingInput">Nombre:</label>
                    </div>
                    <div class="form-floating mt-2">
                      <input
                        type="tel"
                        class="form-control"
                        placeholder="Telefono:"
                        id="telefono"
                      />
                      <label for="floatingInput">Telefono:</label>
                    </div>
                  </div>
                  <div class="form-section">
                    <div class="form-floating mt-2">
                      <textarea
                        id="products-services"
                        class="textarea"
                        rows="2"
                        placeholder="Comentarios:"
                      ></textarea>
                    </div>
                    <div class="form-floating">
                      <input
                        type="email"
                        class="form-control"
                        placeholder="Email:"
                        id="email"
                      />
                      <label for="floatingInput">Email:</label>
                    </div>
                  </div>
                </form>
              </div>
              <div class="cardb-footer">
                <div class="button-container m-3">
                  <button class="btn btn-success btn-lg p-2">
                    <i class="fa-solid fa-floppy-disk"></i>&nbsp;&nbsp;Guardar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
