<html>
  <body>
    <header
      style="
        width: 100%;
        height: 505px;
        background-image: url('../../assets/images/lampara-skewed-op2.webp');
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        position: relative;
        overflow: hidden;
        color: #fff;
        text-align: center;
      "
    >
      <div class="textos">
        <img src="assets/images/logo-farolito.webp" alt="" class="logo" />
        <h1 class="titulo">Farolito</h1>
        <h3 class="subtitulo">¡L&aacute;mparas que te dejan bien prendido!</h3>
      </div>
      <div class="sesgoabajo"></div>
    </header>
    <main>
      <section class="acerca-de">
        <div class="contenedor">
          <h2 class="sobre-nosotros">¿Qui&eacute;nes somos?</h2>
          <h3 class="slogan">¡L&aacute;mparas que te dejan bien prendido!</h3>
          <p class="parrafo">
            En
            <em style="font-weight: bold; text-transform: uppercase"
              >Farolito</em
            >, somos una empresa emergente con una visi&oacute;n ambiciosa de
            crecimiento y excelencia. Aunque estamos comenzando, nuestro
            objetivo es claro, convertirnos en l&iacute;deres en la industria de
            l&acute;mparas, empezando por nuestra ciudad y expandi&eacute;ndonos
            gradualmente a nivel estatal, nacional e internacional.
          </p>
          <p class="parrafo">
            Nos distinguimos no solo por la calidad de nuestros productos, sino
            tambi&eacute;n por el servicio excepcional que ofrecemos. Nos
            esforzamos en brindar a nuestros clientes una experiencia de compra
            en l&iacute;nea f&aacute;cil y accesible, garantizando su
            satisfacci&oacute;n y creando un v&iacute;nculo de confianza a largo
            plazo.
          </p>
          <p class="parrafo">
            En
            <em style="font-weight: bold; text-transform: uppercase"
              >Farolito</em
            >, estamos comprometidos con la innovaci&oacute;n y la mejora
            continua, con la meta de ser reconocidos como una empresa comercial
            de renombre mundial.
          </p>
        </div>
      </section>
      <section class="galeria">
        <div class="sesgoarriba"></div>
        <div class="imagenes">
          <img src="assets/images/lampara-exteriores.webp" alt="" />
        </div>
        <div class="imagenes">
          <img src="assets/images/lampara-mesa.webp" alt="" />
        </div>
        <div class="imagenes">
          <img src="assets/images/lampara-colgante.webp" alt="" />
          <div class="encima">
            <h2><img src="assets/images/logo-farolito.webp" alt="" /></h2>
            <div></div>
          </div>
        </div>
        <div class="imagenes">
          <img src="assets/images/lampara-moderna.webp" alt="" />
        </div>
        <div class="imagenes">
          <img src="assets/images/lampara-techo.webp" alt="" />
        </div>
        <div class="sesgoabajo"></div>
      </section>
      <section class="miembros">
        <div class="contenedor">
          <h2 class="sobre-nosotros">Sobre nosotros</h2>
          <h3 class="slogan">Entidad empresarial</h3>
          <div class="cards">
            <div class="card">
              <img src="assets/images/lampara-moderna.webp" alt="" />
              <h4 class="titulo-entidad">Misi&oacute;n</h4>
              <p>
                Ofrecer productos unicos que combinen diseño, funcionalidad y
                tecnologia avanzada, proporcionando soluciones de iluminacion
                que mejoren la vida cotidian y contribuyan a un entorno mas
                eficiente y sostenible.
              </p>
            </div>
            <div class="card">
              <img src="assets/images/lampara-exteriores.webp" alt="" />
              <h4 class="titulo-entidad">Visi&oacute;n</h4>
              <p>
                Ser l&iacute;deres en la industria de la iluminaci&oacute;n,
                reconocidos por nuestra innovaci&oacute;n, calidad y
                responsabilidad ambiental, aspirando a expandir nuestra
                presencia global, llevando nuestras soluciones a nuevos
                mercados.
              </p>
            </div>
            <div class="card">
              <img src="assets/images/lampara-mesa.webp" alt="" />
              <h4 class="titulo-entidad">Valores</h4>
              <p class="valores">
                <li>Innovaci&oacute;n</li>
                <li>Calidad</li>
                <li>Sustentabilidad</li>
                <li>Oientaci&oacute;n al Cliente</li>
                <li>Integridad</li>
                <li>Responsabilidad Social</li>
              </p>
            </div>
          </div>
        </div>
      </section>
      <section
        class="fondo"
        style="
          height: 950px;
          position: relative;
          background-image: url('../../assets/images/lampara-skewed-op2.webp');
          overflow: hidden;
          background-attachment: fixed;
          background-position: center;
          padding-top: 130px;
        "
      >
        <div class="sesgoarriba"></div>

        <!-- <div class="sesgoabajo-unico"></div> -->
      </section>
    </main>
  </body>
</html>
