.status-label {
  display: inline-block;
  width: 100px;
  padding: 12px;
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}

.status-ontheway {
  background-color: black;
  color: white;
}

.status-sent {
  background-color: green;
  color: white;
}

.status-inprogress {
  background-color: rgba(220, 220, 220, 0.584);
  color: black;
}

.status-finished {
  background-color: rgb(177, 2, 2);
  color: white;
}

.width-input {
  width: 110px;
  height: 50px;
}

.steps-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0 20px;
  position: relative;
}

.step {
  text-align: center;
  position: relative;
  flex: 1;
  margin: 0 60px;
}

.step .circle {
  width: 40px;
  height: 40px;
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 10px;
  z-index: -1;
}

.step .label {
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bolder;
}

.step:nth-child(1) .circle {
  background-color: rgba(97, 95, 95, 0.381);
}

.step:nth-child(2) .circle {
  background-color: green;
}

.step:nth-child(3) .circle {
  background-color: black;
}

.step:nth-child(4) .circle {
  background-color: rgb(177, 2, 2);
}

.step:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 50%;
  width: 100%;
  height: 2px;
  background-color: black;
  z-index: 0;
}
.step:nth-child(1)::after {
  left: 60%;
  width: calc(100% + 100px);
}

.step:nth-child(2)::after {
  left: 60%;
  width: calc(100% + 100px);
}

.step:nth-child(3)::after {
  left: 60%;
  width: calc(100% + 100px);
}

.step:nth-child(4)::after {
  display: none;
}

.footer {
  background-color: #f8f8f8;
  padding: 40px 20px;
  color: #333;
}

.footer h4,
.footer h5 {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer a {
  color: #333;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.footer-newsletter {
  width: 60%;
}

.footer-social a {
  margin: 0 10px;
  font-size: 40px;
  color: #333;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-apps a {
  display: block;
  margin-bottom: 10px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}

.footer-legal a {
  margin-right: 15px;
}

.footer-payments img {
  height: 30px;
  margin-right: 10px;
}
