<div class="container">
  <div class="steps-container mt-3">
      <div class="step">
        <div class="circle">1</div>
        <div class="label">En Proceso</div>
      </div>
      <div class="step">
        <div class="circle">2</div>
        <div class="label">Enviado</div>
      </div>
      <div class="step">
        <div class="circle">3</div>
        <div class="label">En Camino</div>
      </div>
      <div class="step">
        <div class="circle">4</div>
        <div class="label">Finalizado</div>
      </div>
    </div>
  <div class="card align-items-center mt-3" style="border: none">
    <div class="row">
      <div class="col-12">
        <p-table
          #dtPedidosLogistica
          [value]="orders"
          [scrollable]="true"
          scrollHeight="270px"
          [rowHover]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          [paginator]="true"
          currentPageReportTemplate="Mostrando {first} de {last}"
          [filterDelay]="0"
          [globalFilterFields]="['estatus']"
        >
          <ng-template pTemplate="caption">
            <div class="d-flex">
              <h3 class="mt-3">
                <b
                  ><i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp;Estatus
                  de Pedidos
                </b>
              </h3>
              <p-iconField
                iconPosition="left"
                style="margin-left: 50px"
                class="mt-2"
                (input)="applyFilterGlobal($event, 'dtPedidosLogistica')"
              >
                <p-inputIcon>
                  <i class="pi pi-search"></i>
                </p-inputIcon>
                <input pInputText type="text" placeholder="Buscar Pedido:" />
              </p-iconField>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="id">
                <div class="flex justify-content-between align-items-center">
                  Id
                  <p-sortIcon field="id" />
                </div>
              </th>
              <th pSortableColumn="estatus">
                <div class="flex justify-content-between align-items-center">
                  Estatus
                  <p-sortIcon field="estatus" />
                </div>
              </th>
              <th pSortableColumn="nombreUsuario" style="min-width: 6rem">
                <div class="flex justify-content-between align-items-center">
                  Usuario
                  <p-sortIcon field="nombreUsuario" />
                </div>
              </th>
              <th pSortableColumn="productos" style="min-width: 10rem">
                <div class="flex justify-content-center align-items-center">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Productos
                  <p-sortIcon field="productos" />
                </div>
              </th>
              <th pSortableColumn="fechaPedido">
                <div class="flex justify-content-between align-items-center">
                  Fecha Pedido
                  <p-sortIcon field="fechaPedido" />
                </div>
              </th>
              <th pSortableColumn="fechaEnvio">
                <div class="flex justify-content-between align-items-center">
                  Fecha Envio
                  <p-sortIcon field="fechaEnvio" />
                </div>
              </th>
              <th pSortableColumn="fechaEntrega">
                <div class="flex justify-content-between align-items-center">
                  Fecha Entrega
                  <p-sortIcon field="fechaEntrega" />
                </div>
              </th>
              <th pSortableColumn="fechaEntregaAprox">
                <div class="flex justify-content-between align-items-center">
                  Entrega Aprox
                  <p-sortIcon field="fechaEntregaAprox" />
                </div>
              </th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-order>
            <tr class="p-selectable-row">
              <td class="text-center align-middle">
                {{ order.id }}
              </td>
              <td class="text-center align-middle">
                <span
                  [ngClass]="{
                    'status-sent': order.estatus === 'Enviado',
                    'status-ontheway': order.estatus === 'En Camino',
                    'status-inprogress': order.estatus === 'En Proceso',
                    'status-finished': order.estatus === 'Finalizado'
                  }"
                  class="status-label"
                >
                  {{ order.estatus }}
                </span>
              </td>
              <td>
                {{ order.nombreUsuario }}
              </td>
              <td class="text-align-start align-middle">
                <span
                  *ngFor="let producto of order.productos"
                  style="font-size: 14px"
                >
                  {{ producto.cantidad }}&nbsp;{{
                    producto.nombreProducto + ","
                  }}
                </span>
              </td>
              <td>
                {{ order.fechaPedido }}
              </td>
              <td>
                {{ order.fechaEnvio }}
              </td>
              <td>
                {{ order.fechaEntrega }}
              </td>
              <td>
                {{ order.fechaEntregaAprox }}
              </td>
              <td>
                <button
                  class="btn btn-success"
                  type="submit"
                  (click)="advertenciaEstatus(modalEstatusPedido, order.id)"
                >
                  <span
                    ><i class="fa-solid fa-forward-step"></i>&nbsp;Siguiente
                    paso</span
                  >
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>

  <ng-template #modalEstatusPedido let-modal>
    <div class="modal-header">
      <h5 class="modal-title text-center p-2" id="exampleModalLongTitle">
        <i class="fa-solid fa-circle-exclamation" style="color: red"></i
        >&nbsp;&nbsp;¿Desea pasar este pedido al siguiente proceso?
      </h5>
    </div>
    <div class="modal-footer">
      <button
        (click)="cancelarActualizacion()"
        type="button"
        class="btn btn-danger"
      >
        Cancelar
      </button>
      <button
        (click)="ActualizarEstatusPedido()"
        type="button"
        class="btn btn-success"
      >
        Aceptar
      </button>
    </div>
  </ng-template>
</div>
