<div class="container">
  <div class="row">
    <div class="col-8 mt-3">
      <div class="card">
        <h3 class="card-header text-center">
          <i class="fa-solid fa-cart-shopping"></i>&nbsp;&nbsp;Verificación de
          Carrito
        </h3>
        <div class="card-content">
          <div class="col-12">
            <p-orderList
              [value]="cartProducts"
              [listStyle]="{
                height: '14rem',
                width: '42rem',
              }"
            >
              <ng-template let-cart pTemplate="item">
                <div class="cart-item">
                  <div class="cart-image">
                    <img
                      [src]="getImagenProducto(cart.urlImage)"
                      [alt]="cart.lamparaNombre"
                      class="image"
                    />
                    <button
                      class="btn btn-danger btn-lg"
                      (click)="removeFromCart(cart.lamparaId)"
                    >
                      <i class="fas fa-trash"></i>&nbsp;&nbsp;Quitar
                    </button>
                  </div>
                  <div class="cart-details">
                    <div class="cart-name">
                      <b>Producto:&nbsp;&nbsp;</b>{{ cart.lamparaNombre }}
                    </div>
                    <hr />
                    <div class="cart-price-quantity">
                      <div class="quantity-container">
                        <label for="cantidad-up"><b>Cantidad:&nbsp;</b></label>
                        <input
                          id="cantidad-up"
                          min="1"
                          max="{{ getProductoByCarrito(cart.lamparaId) }}"
                          type="number"
                          value="{{ cantidadActualizada[cart.lamparaId] }}"
                          [(ngModel)]="cantidadActualizada[cart.lamparaId]"
                          (input)="actualizarCarrito(cart.lamparaId)"
                        />
                      </div>
                      <br />

                      <b>Precio:&nbsp;&nbsp;</b>
                      {{
                        "$" +
                          (cart.cantidad * getPrice(cart.lamparaId)
                            | number : "1.2-2")
                      }}
                    </div>
                  </div>
                </div>
              </ng-template>
            </p-orderList>
          </div>
          <div class="col-12 text-center">
            <h5 class="mt-3">
              Total a pagar: {{ calculateTotal() | currency }}
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 mt-4">
      <div class="card">
        <h3 class="card-header text-center">
          <i class="fa-solid fa-comments-dollar"></i>&nbsp;&nbsp;Método de Pago
        </h3>
        <div class="card-content mt-3">
          <div class="row">
            <div class="col-6 text-center">
              <div class="card" style="background-color: black">
                <div class="card-content text-center p-3">
                  <i
                    class="fa-solid fa-credit-card mt-3"
                    style="font-size: 40px; color: white"
                  ></i>
                </div>
              </div>
              <input
                type="radio"
                name="tipo-pago"
                id="tipo-pago-tarjeta"
                class="mt-2"
                (change)="seleccionarMetodoPago('Tarjeta')"
              />
              <label for="tipo-pago-tarjeta" class="m-2"><b>Tarjeta</b></label>
            </div>
            <div class="col-6 text-center">
              <div class="card" style="background-color: black">
                <div class="card-content text-center p-3">
                  <i
                    class="fa-brands fa-paypal mt-3"
                    style="font-size: 40px; color: white"
                  ></i>
                </div>
              </div>
              <input
                type="radio"
                name="tipo-pago"
                id="tipo-pago-paypal"
                class="mt-2"
                (change)="seleccionarMetodoPago('Paypal')"
              />
              <label for="tipo-pago-paypal" class="m-2"><b>PayPal</b></label>
            </div>
          </div>
          <div class="row justify-content-center mt-4">
            <div class="col-10 text-center">
              <button
                class="btn btn-success btn-lg"
                [disabled]="!isPagoValido()"
                (click)="confirmarPago()"
              >
                <i class="fa-solid fa-circle-check"></i>&nbsp;&nbsp;Confirmar
                Pago
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Pues el footer, ¿qué otra cosa sería? -->
<footer class="footer mt-5">
  <div class="footer-top">
    <div class="footer-newsletter">
      <h4>Farolito</h4>
      <p>
        ¡Siguenos en nuestras redes sociales en X (antes twitter) y sé el
        primero en recibir las últimas noticias sobre tendencias, promociones y
        mucho más!
      </p>
      <a href="https://x.com/farolitoficial" target="_blank"
        >https://x.com/farolitoficial</a
      >
    </div>

    <div class="footer-social">
      <a href="https://x.com/farolitoficial" target="_blank"
        ><i class="fa-brands fa-x-twitter"></i
      ></a>
      <br />
      <p>farolitoficial</p>
    </div>
  </div>

  <div class="footer-middle">
    <div class="footer-section">
      <h5>TAF MÉXICO</h5>
      <ul>
        <li><a href="#">Nosotros</a></li>
        <li><a href="#">Tiendas</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h5>AYUDA</h5>
      <ul>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Promociones</a></li>
        <li><a href="#">Facturación</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h5>SERVICIO AL CLIENTE</h5>
      <ul>
        <li><label>Contacto:&nbsp;&nbsp;</label>+52 4772606019</li>
        <li><label>Email:&nbsp;&nbsp;</label>farolitonline&#64;gmail.com</li>
        <li>
          <label>Ubicacion:&nbsp;&nbsp;</label>Blvd. Adolfo Lopez Mateos #218,
          Col. El Coecillo, León Gto.
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="footer-legal">
      <a href="#">Términos de Uso</a>
      <a href="#">Aviso de Privacidad</a>
      <a href="#">Política de Cookies</a>
    </div>

    <div class="footer-payments">
      <img alt="Amex" src="../../../assets/images/footer/amex.jpeg" />
      <img
        alt="Mastercard"
        src="../../../assets/images/footer/mastercard.png"
      />
      <img alt="Visa" src="../../../assets/images/footer/visa.png" />
      <img alt="PayPal" src="../../../assets/images/footer/paypal.png" />
      <img alt="OXXO" src="../../../assets/images/footer/oxxo.png" />
      <img alt="Kueski" src="../../../assets/images/footer/kueski.png" />
    </div>
  </div>
</footer>
