<div class="contenido">
  <div class="logo">
    <img src="assets/images/logo-farolito.webp" alt="Logo Farolito" />
  </div>
  <h1 class="farolito-name">Farolito</h1>
  <div class="divider"></div>
  <div class="form-floating mt-2">
    <input type="email" class="form-control" placeholder="Email:" id="email" />
    <label for="floatingInput">Email:</label>
  </div>
  <div class="form-floating mt-2">
    <input
      type="password"
      class="form-control"
      placeholder="Password:"
      id="password"
    />
    <label for="floatingInput">Password:</label>
  </div>
  <div class="forgot-password">
    <a href="#">¿Olvidaste tu contrase&ntilde;a?</a>
  </div>
  <button class="login-button">Iniciar</button>
  <p class="sign-up">
    ¿A&uacute;n no tienes una cuenta?
    <a routerLink="/signup">Registrate</a>
  </p>
</div>
