<div class="container">
  <div class="card mt-2">
    <h3 class="card-header text-center">
      <i class="fa-solid fa-spinner"></i>&nbsp;&nbsp; Estatus de pedidos
    </h3>
    <p-tabView styleClass="tabview-custom">
      <p-tabPanel>
        <ng-template pTemplate="header">
          <div class="flex align-items-center gap-2">
            <p-avatar icon="fa-solid fa-layer-group" shape="circle" />
            <span class="font-bold white-space-nowrap m-0">
              &nbsp;&nbsp;Todo </span
            >&nbsp;
            <p-badge [value]="orders.length"></p-badge>
          </div>
        </ng-template>
        <p-accordion [multiple]="true">
          <p-accordionTab *ngFor="let order of orders" [header]="order.estatus">
            <div class="row">
              <div class="col-9">
                <div class="row" *ngFor="let product of order.productos">
                  <div class="col-3" *ngIf="order.id != 0">
                    <div class="row">
                      <div class="col-6">
                        <img
                          [src]="ObtenerImagen(product.recetaId)"
                          alt="{{ product.nombreProducto }}"
                          width="160"
                          class="img-fluid"
                        />
                      </div>
                      <div class="col-6">
                        <p-divider layout="vertical"
                          ><i class="fa-solid fa-arrow-right"></i
                        ></p-divider>
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-5 text-center mt-3"
                    style="font-size: 18px"
                    *ngIf="product.nombreProducto"
                  >
                    <h4 style="font-weight: bold">
                      {{ product.nombreProducto }}
                    </h4>
                    <ul style="margin-left: -30px">
                      <i
                        class="fa-solid fa-ellipsis-vertical"
                        style="margin-right: 10px"
                      ></i>
                      {{
                        "Cantidad: " + product.cantidad
                      }}
                      <hr />
                      <i
                        class="fa-solid fa-sack-dollar"
                        style="margin-right: 10px"
                      ></i>
                      {{
                        "Precio: " + formatTotal(product.precioUnitario)
                      }}
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="col-12" style="font-size: 18px">
                  <div class="row mt-3" style="margin-left: -100px">
                    <div class="col-12">
                      <div
                        class="text-center"
                        style="
                          background-color: black;
                          border-radius: 12px;
                          width: auto;
                          color: white;
                          padding: 10px;
                        "
                      >
                        <i class="fa-solid fa-file-invoice-dollar"></i
                        >&nbsp;&nbsp;{{
                          "Total: " +
                            formatTotal(calculateTotal(order.productos))
                        }}
                      </div>
                    </div>
                  </div>
                  <div class="row mt-4" style="margin-left: -100px">
                    <div class="col-12">
                      <div class="text-center">
                        <a
                          (click)="obtenerDetallePedido(order.id)"
                          class="btn btn-primary btn-lg p-2"
                        >
                          <i class="fa-solid fa-eye"></i>&nbsp;&nbsp;Detalle
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
      </p-tabPanel>
      <p-tabPanel header="Header">
        <ng-template pTemplate="header">
          <div class="flex align-items-center gap-2">
            <p-avatar icon="fas fa-truck" shape="circle" />
            <span class="font-bold white-space-nowrap m-0">
              &nbsp;&nbsp;En Camino </span
            >&nbsp;
            <p-badge [value]="filtroOrdenesCamino.length"></p-badge>
          </div>
        </ng-template>
        <p-accordion [multiple]="true">
          <p-accordionTab
            *ngFor="let order of filtroOrdenesCamino"
            [header]="order.estatus"
          >
            <div class="row">
              <div class="col-9">
                <div class="row" *ngFor="let product of order.productos">
                  <div class="col-3" *ngIf="order.id != 0">
                    <div class="row">
                      <div class="col-6">
                        <img
                          [src]="ObtenerImagen(product.recetaId)"
                          alt="{{ product.nombreProducto }}"
                          width="160"
                          class="img-fluid"
                        />
                      </div>
                      <div class="col-6">
                        <p-divider layout="vertical"
                          ><i class="fa-solid fa-arrow-right"></i
                        ></p-divider>
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-5 text-center mt-3"
                    style="font-size: 18px"
                    *ngIf="product.nombreProducto"
                  >
                    <h4 style="font-weight: bold">
                      {{ product.nombreProducto }}
                    </h4>
                    <ul style="margin-left: -30px">
                      <i
                        class="fa-solid fa-ellipsis-vertical"
                        style="margin-right: 10px"
                      ></i>
                      {{
                        "Cantidad: " + product.cantidad
                      }}
                      <hr />
                      <i
                        class="fa-solid fa-sack-dollar"
                        style="margin-right: 10px"
                      ></i>
                      {{
                        "Precio: " + formatTotal(product.precioUnitario)
                      }}
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="col-12" style="font-size: 18px">
                  <div class="row mt-3" style="margin-left: -100px">
                    <div class="col-12">
                      <div
                        class="text-center"
                        style="
                          background-color: black;
                          border-radius: 12px;
                          width: auto;
                          color: white;
                          padding: 10px;
                        "
                      >
                        <i class="fa-solid fa-file-invoice-dollar"></i
                        >&nbsp;&nbsp;{{
                          "Total: " +
                            formatTotal(calculateTotal(order.productos))
                        }}
                      </div>
                    </div>
                  </div>
                  <div class="row mt-4" style="margin-left: -100px">
                    <div class="col-12">
                      <div class="text-center">
                        <!-- [routerLink]="['/detalle-pedido', order.id]" -->
                        <a
                          (click)="obtenerDetallePedido(order.id)"
                          class="btn btn-primary btn-lg p-2"
                        >
                          <i class="fa-solid fa-eye"></i>&nbsp;&nbsp;Detalle
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
      </p-tabPanel>
      <p-tabPanel header="Header 3">
        <ng-template pTemplate="header">
          <div class="flex align-items-center gap-2">
            <p-avatar icon="fa-solid fa-paper-plane" shape="circle" />
            <span class="font-bold white-space-nowrap m-0 margin-badge">
              &nbsp;&nbsp;Enviado</span
            >&nbsp;
            <p-badge [value]="filtroOrdenesEnviadas.length"></p-badge>
          </div>
        </ng-template>
        <p-accordion [multiple]="true">
          <p-accordionTab
            *ngFor="let order of filtroOrdenesEnviadas"
            [header]="order.estatus"
          >
            <div class="row">
              <div class="col-9">
                <div class="row" *ngFor="let product of order.productos">
                  <div class="col-3" *ngIf="order.id != 0">
                    <div class="row">
                      <div class="col-6">
                        <img
                          [src]="ObtenerImagen(product.recetaId)"
                          alt="{{ product.nombreProducto }}"
                          width="160"
                          class="img-fluid"
                        />
                      </div>
                      <div class="col-6">
                        <p-divider layout="vertical"
                          ><i class="fa-solid fa-arrow-right"></i
                        ></p-divider>
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-5 text-center mt-3"
                    style="font-size: 18px"
                    *ngIf="product.nombreProducto"
                  >
                    <h4 style="font-weight: bold">
                      {{ product.nombreProducto }}
                    </h4>
                    <ul style="margin-left: -30px">
                      <i
                        class="fa-solid fa-ellipsis-vertical"
                        style="margin-right: 10px"
                      ></i>
                      {{
                        "Cantidad: " + product.cantidad
                      }}
                      <hr />
                      <i
                        class="fa-solid fa-sack-dollar"
                        style="margin-right: 10px"
                      ></i>
                      {{
                        "Precio: " + formatTotal(product.precioUnitario)
                      }}
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="col-12" style="font-size: 18px">
                  <div class="row mt-3" style="margin-left: -100px">
                    <div class="col-12">
                      <div
                        class="text-center"
                        style="
                          background-color: black;
                          border-radius: 12px;
                          width: auto;
                          color: white;
                          padding: 10px;
                        "
                      >
                        <i class="fa-solid fa-file-invoice-dollar"></i
                        >&nbsp;&nbsp;{{
                          "Total: " +
                            formatTotal(calculateTotal(order.productos))
                        }}
                      </div>
                    </div>
                  </div>
                  <div class="row mt-4" style="margin-left: -100px">
                    <div class="col-12">
                      <div class="text-center">
                        <a
                          (click)="obtenerDetallePedido(order.id)"
                          class="btn btn-primary btn-lg p-2"
                        >
                          <i class="fa-solid fa-eye"></i>&nbsp;&nbsp;Detalle
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
      </p-tabPanel>
      <p-tabPanel header="Enviado">
        <ng-template pTemplate="header">
          <div class="flex align-items-center gap-2">
            <p-avatar icon="fa-solid fa-hourglass-half" shape="circle" />
            <span class="font-bold white-space-nowrap m-0 margin-badge">
              &nbsp;&nbsp;En Proceso</span
            >&nbsp;
            <p-badge [value]="filtroOrdenesEnproceso.length"></p-badge>
          </div>
        </ng-template>
        <p-accordion [multiple]="true">
          <p-accordionTab
            *ngFor="let order of filtroOrdenesEnproceso"
            [header]="order.estatus"
          >
            <div class="row">
              <div class="col-9">
                <div class="row" *ngFor="let product of order.productos">
                  <div class="col-3" *ngIf="order.id != 0">
                    <div class="row">
                      <div class="col-6">
                        <img
                          [src]="ObtenerImagen(product.recetaId)"
                          alt="{{ product.nombreProducto }}"
                          width="160"
                          class="img-fluid"
                        />
                      </div>
                      <div class="col-6">
                        <p-divider layout="vertical"
                          ><i class="fa-solid fa-arrow-right"></i
                        ></p-divider>
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-5 text-center mt-3"
                    style="font-size: 18px"
                    *ngIf="product.nombreProducto"
                  >
                    <h4 style="font-weight: bold">
                      {{ product.nombreProducto }}
                    </h4>
                    <ul style="margin-left: -30px">
                      <i
                        class="fa-solid fa-ellipsis-vertical"
                        style="margin-right: 10px"
                      ></i>
                      {{
                        "Cantidad: " + product.cantidad
                      }}
                      <hr />
                      <i
                        class="fa-solid fa-sack-dollar"
                        style="margin-right: 10px"
                      ></i>
                      {{
                        "Precio: " + formatTotal(product.precioUnitario)
                      }}
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="col-12" style="font-size: 18px">
                  <div class="row mt-3" style="margin-left: -100px">
                    <div class="col-12">
                      <div
                        class="text-center"
                        style="
                          background-color: black;
                          border-radius: 12px;
                          width: auto;
                          color: white;
                          padding: 10px;
                        "
                      >
                        <i class="fa-solid fa-file-invoice-dollar"></i
                        >&nbsp;&nbsp;{{
                          "Total: " +
                            formatTotal(calculateTotal(order.productos))
                        }}
                      </div>
                    </div>
                  </div>
                  <div class="row mt-4" style="margin-left: -100px">
                    <div class="col-12">
                      <div class="text-center">
                        <a
                          (click)="obtenerDetallePedido(order.id)"
                          class="btn btn-primary btn-lg p-2"
                        >
                          <i class="fa-solid fa-eye"></i>&nbsp;&nbsp;Detalle
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
      </p-tabPanel>
      <p-tabPanel header="Header 3">
        <ng-template pTemplate="header">
          <div class="flex align-items-center gap-2">
            <p-avatar icon="fa-solid fa-circle-check" shape="circle" />
            <span class="font-bold white-space-nowrap m-0 margin-badge">
              &nbsp;&nbsp;Finalizado</span
            >&nbsp;
            <p-badge [value]="filtroOrdenesFinalizado.length"></p-badge>
          </div>
        </ng-template>
        <p-accordion [multiple]="true">
          <p-accordionTab
            *ngFor="let order of filtroOrdenesFinalizado"
            [header]="order.estatus"
          >
            <div class="row">
              <div class="col-9">
                <div class="row" *ngFor="let product of order.productos">
                  <div class="col-3" *ngIf="order.id != 0">
                    <div class="row">
                      <div class="col-6">
                        <img
                          [src]="ObtenerImagen(product.recetaId)"
                          alt="{{ product.nombreProducto }}"
                          width="160"
                          class="img-fluid"
                        />
                      </div>
                      <div class="col-6">
                        <p-divider layout="vertical"
                          ><i class="fa-solid fa-arrow-right"></i
                        ></p-divider>
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-5 text-center mt-3"
                    style="font-size: 18px"
                    *ngIf="product.nombreProducto"
                  >
                    <h4 style="font-weight: bold">
                      {{ product.nombreProducto }}
                    </h4>
                    <ul style="margin-left: -30px">
                      <i
                        class="fa-solid fa-ellipsis-vertical"
                        style="margin-right: 10px"
                      ></i>
                      {{
                        "Cantidad: " + product.cantidad
                      }}
                      <hr />
                      <i
                        class="fa-solid fa-sack-dollar"
                        style="margin-right: 10px"
                      ></i>
                      {{
                        "Precio: " + formatTotal(product.precioUnitario)
                      }}
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="col-12" style="font-size: 18px">
                  <div class="row mt-3" style="margin-left: -100px">
                    <div class="col-12">
                      <div
                        class="text-center"
                        style="
                          background-color: black;
                          border-radius: 12px;
                          width: auto;
                          color: white;
                          padding: 10px;
                        "
                      >
                        <i class="fa-solid fa-file-invoice-dollar"></i
                        >&nbsp;&nbsp;{{
                          "Total: " +
                            formatTotal(calculateTotal(order.productos))
                        }}
                      </div>
                    </div>
                  </div>
                  <div class="row mt-4" style="margin-left: -100px">
                    <div class="col-12">
                      <div class="text-center">
                        <a
                          (click)="obtenerDetallePedido(order.id)"
                          class="btn btn-primary btn-lg p-2"
                        >
                          <i class="fa-solid fa-eye"></i>&nbsp;&nbsp;Detalle
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
      </p-tabPanel>
    </p-tabView>
    <div *ngIf="cargando" class="spinner-overlay">
      <div class="spinner-container">
        <div class="spinner-wrapper">
          <p-progressSpinner
            styleClass="w-7rem h-7rem"
            strokeWidth="6"
            fill="var(--surface-ground)"
            animationDuration=".8s"
          >
          </p-progressSpinner>
          <img
            src="assets/images/logo-farolito.webp"
            alt="Logo de farolito"
            class="spinner-logo"
          />
        </div>
        <p class="spinner-message">Espere por favor...</p>
      </div>
    </div>
  </div>
  <br />
</div>
