<div class="container">
    <div class="chart-container">
        <h4>Ventas por Producto</h4>
        <canvas id="ventasProductosChart"></canvas>
    </div>

    <div class="chart-container">
        <h4>Ventas por Periodo</h4>
        <canvas id="ventasPeriodosChart"></canvas>
    </div>

    <div class="chart-container">
        <h4>Existencias de Componentes</h4>
        <canvas id="existenciaComponentesChart"></canvas>
    </div>

    <div class="chart-container">
        <h4>Existencias de Lámparas</h4>
        <canvas id="existenciaLamparasChart"></canvas>
    </div>

    <div class="chart-container">
        <h4>Compras por Periodo</h4>
        <canvas id="comprasPeriodosChart"></canvas>
    </div>

    <div class="chart-container">
        <h4>Lámparas Compradas por Cliente</h4>
        <canvas id="lamparasClienteChart"></canvas>
    </div>

    <div class="mejor-cliente">
        <h4>Mejor Cliente</h4>
        <p *ngIf="mejorCliente">Nombre: {{ mejorCliente.mejorCliente }}</p>
        <p *ngIf="mejorCliente">Total Gastado: {{ mejorCliente.totalGastado | currency }}</p>
    </div>
</div>
<!-- Pues el footer, ¿qué otra cosa sería? -->
<footer class="footer mt-5">
  <div class="footer-top">
    <div class="footer-newsletter">
      <h4>Farolito</h4>
      <p>
        ¡Siguenos en nuestras redes sociales en X (antes twitter) y sé el
        primero en recibir las últimas noticias sobre tendencias, promociones y
        mucho más!
      </p>
      <a href="https://x.com/farolitoficial" target="_blank"
        >https://x.com/farolitoficial</a
      >
    </div>

    <div class="footer-social">
      <a href="https://x.com/farolitoficial" target="_blank"
        ><i class="fa-brands fa-x-twitter"></i
      ></a>
      <br />
      <p>farolitoficial</p>
    </div>
  </div>

  <div class="footer-middle">
    <div class="footer-section">
      <h5>TAF MÉXICO</h5>
      <ul>
        <li><a href="#">Nosotros</a></li>
        <li><a href="#">Tiendas</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h5>AYUDA</h5>
      <ul>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Promociones</a></li>
        <li><a href="#">Facturación</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h5>SERVICIO AL CLIENTE</h5>
      <ul>
        <li><label>Contacto:&nbsp;&nbsp;</label>+52 4772606019</li>
        <li><label>Email:&nbsp;&nbsp;</label>farolitonline&#64;gmail.com</li>
        <li>
          <label>Ubicacion:&nbsp;&nbsp;</label>Blvd. Adolfo Lopez Mateos #218,
          Col. El Coecillo, León Gto.
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="footer-legal">
      <a href="#">Términos de Uso</a>
      <a href="#">Aviso de Privacidad</a>
      <a href="#">Política de Cookies</a>
    </div>

    <div class="footer-payments">
      <img alt="Amex" src="../../../assets/images/footer/amex.jpeg" />
      <img
        alt="Mastercard"
        src="../../../assets/images/footer/mastercard.png"
      />
      <img alt="Visa" src="../../../assets/images/footer/visa.png" />
      <img alt="PayPal" src="../../../assets/images/footer/paypal.png" />
      <img alt="OXXO" src="../../../assets/images/footer/oxxo.png" />
      <img alt="Kueski" src="../../../assets/images/footer/kueski.png" />
    </div>
  </div>
</footer>