<div class="container">
  <div class="card align-items-center mt-5" style="border: none">
    <div class="row">
      <div class="col-12">
        <p-table
          #dt
          [value]="solicitudesProduccion"
          [scrollable]="true"
          scrollHeight="270px"
          [rowHover]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          [paginator]="true"
          currentPageReportTemplate="Mostrando {first} de {last}"
          [filterDelay]="0"
          [globalFilterFields]="['id', 'name', 'email', 'username', 'password']"
        >
          <ng-template pTemplate="caption">
            <div class="d-flex">
              <h3 class="mt-2">
                <b
                  ><i class="fa-solid fa-screwdriver-wrench"></i
                  >&nbsp;&nbsp;Administraci&oacute;n de Producci&oacute;n</b
                >
              </h3>
              <p-iconField iconPosition="left" style="margin-left: 200px">
                <p-inputIcon>
                  <i class="pi pi-search"></i>
                </p-inputIcon>
                <input
                  pInputText
                  type="text"
                  placeholder="Buscar produccion:"
                />
              </p-iconField>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="id">
                <div class="flex justify-content-between align-items-center">
                  Id
                  <p-sortIcon field="id" />
                </div>
              </th>
              <th pSortableColumn="descripcion">
                <div class="flex justify-content-between align-items-center">
                  Descripcion
                  <p-sortIcon field="descripcion" />
                </div>
              </th>
              <th pSortableColumn="cantidad">
                <div class="flex justify-content-between align-items-center">
                  Cantidad
                  <p-sortIcon field="cantidad" />
                </div>
              </th>
              <th pSortableColumn="nombreUsuario">
                <div class="flex justify-content-between align-items-center">
                  Por:
                  <p-sortIcon field="nombreUsuario" />
                </div>
              </th>
              <th pSortableColumn="quantity">
                <div class="flex justify-content-between align-items-center">
                  Receta
                  <p-sortIcon field="quantity" />
                </div>
              </th>
              <th></th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-solicitud>
            <tr class="p-selectable-row">
              <td>
                {{ solicitud.id }}
              </td>
              <td>
                {{ solicitud.descripcion }}
              </td>
              <td>
                {{ solicitud.cantidad }}
              </td>
              <td>
                {{ solicitud.nombreUsuario }}
              </td>
              <td>{{ solicitud.receta?.nombrelampara }}</td>
              <td>
                <button class="btn btn-success">
                  <i class="fa-solid fa-check"></i>
                </button>
              </td>
              <td>
                <button class="btn btn-danger">
                  <i class="fa-solid fa-x"></i>
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <div *ngIf="cargando" class="spinner-overlay">
      <div class="spinner-container">
        <div class="spinner-wrapper">
          <p-progressSpinner
            styleClass="w-7rem h-7rem"
            strokeWidth="6"
            fill="var(--surface-ground)"
            animationDuration=".8s"
          >
          </p-progressSpinner>
          <img
            src="assets/images/logo-farolito.webp"
            alt="Logo de farolito"
            class="spinner-logo"
          />
        </div>
        <p class="spinner-message">Espere por favor...</p>
      </div>
    </div>
  </div>
</div>
