<div class="container">
  <nav style="margin: 0 140px">
    <div class="nav nav-tabs m-1 custom-tabs" id="nav-tab" role="tablist">
      <button
        class="nav-link active"
        id="nav-solicitudes-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-solicitudes"
        type="button"
        role="tab"
        aria-controls="nav-solicitudes"
        aria-selected="true"
      >
        Solicitudes
      </button>
      <button
        class="nav-link"
        id="nav-completadas-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-completadas"
        type="button"
        role="tab"
        aria-controls="nav-completadas"
        aria-selected="false"
      >
        Completadas
      </button>
    </div>
  </nav>
  <div class="card align-items-center mt-5" style="border: none">
    <div class="row tab-content" id="nav-tabContent">
      <div
        class="col-12 tab-pane fade show active"
        id="nav-solicitudes"
        role="tabpanel"
        aria-labelledby="nav-solicitudes-tab"
      >
        <p-table
          #dt
          [value]="solicitudesProduccion"
          [scrollable]="true"
          scrollHeight="270px"
          [rowHover]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          [paginator]="true"
          currentPageReportTemplate="Mostrando {first} de {last}"
          [filterDelay]="0"
          [globalFilterFields]="['id', 'name', 'email', 'username', 'password']"
        >
          <ng-template pTemplate="caption">
            <div class="d-flex">
              <h3 class="mt-2">
                <b
                  ><i class="fa-solid fa-screwdriver-wrench"></i
                  >&nbsp;&nbsp;Administraci&oacute;n de Producci&oacute;n</b
                >
              </h3>
              <p-iconField iconPosition="left" style="margin-left: 200px">
                <p-inputIcon>
                  <i class="pi pi-search"></i>
                </p-inputIcon>
                <input
                  pInputText
                  type="text"
                  placeholder="Buscar produccion:"
                />
              </p-iconField>
              <a
                  routerLink="/generar-produccion"
                  class="btn btn-success p-3"
                  style="margin-left: 80px"
                >
                  <i
                    class="fa-solid fa-circle-plus"
                    style="margin-right: 5px"
                  ></i>
                  Solicitar Producción
                </a>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="id">
                <div class="flex justify-content-between align-items-center">
                  Id
                  <p-sortIcon field="id" />
                </div>
              </th>
              <th pSortableColumn="descripcion">
                <div class="flex justify-content-between align-items-center">
                  Descripcion
                  <p-sortIcon field="descripcion" />
                </div>
              </th>
              <th pSortableColumn="cantidad">
                <div class="flex justify-content-between align-items-center">
                  Cantidad
                  <p-sortIcon field="cantidad" />
                </div>
              </th>
              <th pSortableColumn="nombreUsuario">
                <div class="flex justify-content-between align-items-center">
                  Por:
                  <p-sortIcon field="nombreUsuario" />
                </div>
              </th>
              <th pSortableColumn="quantity">
                <div class="flex justify-content-between align-items-center">
                  Receta
                  <p-sortIcon field="quantity" />
                </div>
              </th>
              <th></th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-solicitud>
            <tr class="p-selectable-row">
              <td>
                {{ solicitud.id }}
              </td>
              <td>
                {{ solicitud.descripcion }}
              </td>
              <td>
                {{ solicitud.cantidad }}
              </td>
              <td>
                {{ solicitud.nombreUsuario }}
              </td>
              <td>{{ solicitud.receta?.nombrelampara }}</td>
              <td>
                <button class="btn btn-success" (click)="aprobarSolicitud(solicitud.id)">
                  <i class="fa-solid fa-check"></i>
                </button>
              </td>              
              <td>
                <button class="btn btn-danger">
                  <i class="fa-solid fa-x"></i>
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div
        class="col-12 tab-pane fade"
        id="nav-completadas"
        role="tabpanel"
        aria-labelledby="nav-completadas-tab"
      >
        <p-table
          #dt
          [value]="produccionesCompletadas"
          [scrollable]="true"
          scrollHeight="270px"
          [rowHover]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          [paginator]="true"
          currentPageReportTemplate="Mostrando {first} de {last}"
          [filterDelay]="0"
          [globalFilterFields]="['id', 'name', 'email', 'username', 'password']"
        >
          <ng-template pTemplate="caption">
            <div class="d-flex">
              <h3 class="mt-2">
                <b
                  ><i class="fa-solid fa-screwdriver-wrench"></i
                  >&nbsp;&nbsp;Producci&oacute;nes con respuesta</b
                >
              </h3>
              <p-iconField iconPosition="left" style="margin-left: 200px">
                <p-inputIcon>
                  <i class="pi pi-search"></i>
                </p-inputIcon>
                <input
                  pInputText
                  type="text"
                  placeholder="Buscar produccion:"
                />
              </p-iconField>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="id">
                <div class="flex justify-content-between align-items-center">
                  Id
                  <p-sortIcon field="id" />
                </div>
              </th>
              <th pSortableColumn="descripcion">
                <div class="flex justify-content-between align-items-center">
                  Descripcion
                  <p-sortIcon field="descripcion" />
                </div>
              </th>
              <th pSortableColumn="cantidad">
                <div class="flex justify-content-between align-items-center">
                  Cantidad
                  <p-sortIcon field="cantidad" />
                </div>
              </th>
              <th pSortableColumn="nombreUsuario">
                <div class="flex justify-content-between align-items-center">
                  Por:
                  <p-sortIcon field="nombreUsuario" />
                </div>
              </th>
              <th pSortableColumn="quantity">
                <div class="flex justify-content-between align-items-center">
                  Receta
                  <p-sortIcon field="quantity" />
                </div>
              </th>
              <th></th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-solicitud>
            <tr class="p-selectable-row">
              <td>
                {{ solicitud.id }}
              </td>
              <td>
                {{ solicitud.descripcion }}
              </td>
              <td>
                {{ solicitud.cantidad }}
              </td>
              <td>
                {{ solicitud.nombreUsuario }}
              </td>
              <td>{{ solicitud.receta?.nombrelampara }}</td>
              <td>
                <button class="btn btn-success">
                  <i class="fa-solid fa-check"></i>
                </button>
              </td>
              <td>
                <button class="btn btn-danger">
                  <i class="fa-solid fa-x"></i>
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <div *ngIf="cargando" class="spinner-overlay">
      <div class="spinner-container">
        <div class="spinner-wrapper">
          <p-progressSpinner
            styleClass="w-7rem h-7rem"
            strokeWidth="6"
            fill="var(--surface-ground)"
            animationDuration=".8s"
          >
          </p-progressSpinner>
          <img
            src="assets/images/logo-farolito.webp"
            alt="Logo de farolito"
            class="spinner-logo"
          />
        </div>
        <p class="spinner-message">Espere por favor...</p>
      </div>
    </div>
  </div>
</div>
