<div class="container">
  <nav style="margin: 0 140px" class="mt-5">
    <div class="nav nav-tabs m-1 custom-tabs" id="nav-tab" role="tablist">
      <button
        class="nav-link active"
        id="nav-lamparas-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-lamparas"
        type="button"
        role="tab"
        aria-controls="nav-lamparas"
        aria-selected="true"
      >
        Lamparas
      </button>
      <button
        class="nav-link"
        id="nav-componentes-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-componentes"
        type="button"
        role="tab"
        aria-controls="nav-componentes"
        aria-selected="false"
      >
        Componentes
      </button>
    </div>
  </nav>
  <div class="card align-items-center" style="border: none; margin: 0 50px">
    <div class="row tab-content" id="nav-tabContent">
      <div
        class="col-12 tab-pane fade show active p-3"
        id="nav-lamparas"
        role="tabpanel"
        aria-labelledby="nav-lamparas-tab"
      >
        <p-table
          #dtInventarioLamparas
          [value]="lampsInventory"
          [scrollable]="true"
          scrollHeight="270px"
          [rowHover]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          [paginator]="true"
          currentPageReportTemplate="Mostrando {first} de {last}"
          [filterDelay]="0"
          [globalFilterFields]="['nombrelampara']"
        >
          <ng-template pTemplate="caption">
            <div class="d-flex">
              <h3 class="mt-2">
                <b>
                  <i class="fa-solid fa-lightbulb"></i>&nbsp;&nbsp;Inventario
                  Lamparas
                </b>
              </h3>
              <div
                class="d-flex justify-content-between"
                style="margin-left: 230px"
              >
                <p-iconField iconPosition="left">
                  <p-inputIcon>
                    <i class="pi pi-search"> </i>
                  </p-inputIcon>
                  <input
                    pInputText
                    type="text"
                    placeholder="Buscar por lampara:"
                    class="mt-1"
                    (input)="applyFilterGlobal($event, 'dtInventarioLamparas')"
                    (keydown)="validateInput($event)"
                  />
                </p-iconField>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="id" hidden>
                <div class="flex justify-content-between align-items-center">
                  Id
                  <p-sortIcon field="id" />
                </div>
              </th>
              <th pSortableColumn="nombrelampara">
                <div class="flex justify-content-between align-items-center">
                  Nombre
                  <p-sortIcon field="nombrelampara" />
                </div>
              </th>
              <th pSortableColumn="existencias">
                <div class="flex justify-content-between align-items-center">
                  Existencias
                  <p-sortIcon field="existencias" />
                </div>
              </th>
              <th pSortableColumn="costo">
                <div class="flex justify-content-between align-items-center">
                  Costo
                  <p-sortIcon field="costo" />
                </div>
              </th>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-lamp>
            <tr class="p-selectable-row">
              <td style="display: none">
                {{ lamp.id }}
              </td>
              <td>
                {{ lamp.nombrelampara }}
              </td>
              <td>
                {{ lamp.existencias }}
              </td>
              <td>
                {{ lamp.costo | number : "1.2-2" }}
              </td>
              <td>
                <a
                  [routerLink]="['/detalle-lampara', lamp.id]"
                  class="btn btn-primary"
                >
                  <i class="fa-solid fa-eye"></i>&nbsp;Detalle
                </a>
              </td>
              
            </tr>
          </ng-template>
        </p-table>
      </div>
      <!-- Componentes -->
      <div
        class="col-12 tab-pane fade p-3"
        id="nav-componentes"
        role="tabpanel"
        aria-labelledby="nav-componentes-tab"
      >
        <p-table
          #dtInventarioComponentes
          [value]="componentesInventory"
          [scrollable]="true"
          scrollHeight="270px"
          [rowHover]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          [paginator]="true"
          currentPageReportTemplate="Mostrando {first} de {last}"
          [filterDelay]="0"
          [globalFilterFields]="['nombre']"
        >
          <ng-template pTemplate="caption">
            <div class="d-flex">
              <h3 class="mt-2">
                <b>
                  <i class="fa-solid fa-layer-group"></i>&nbsp;&nbsp;Inventario
                  Componentes
                </b>
              </h3>
              <div
                class="d-flex justify-content-between"
                style="margin-left: 230px"
              >
                <p-iconField iconPosition="left">
                  <p-inputIcon>
                    <i class="pi pi-search"></i>
                  </p-inputIcon>
                  <input
                    pInputText
                    type="text"
                    placeholder="Buscar por componente:"
                    class="mt-1"
                    (input)="applyFilterGlobal($event, 'dtInventarioComponentes')"
                    (keydown)="validateInput($event)"
                  />
                </p-iconField>
                <a
                  routerLink="/catalogo-componentes"
                  class="btn btn-success p-3"
                  style="margin-left: 80px"
                >
                  <i class="fa-solid fa-gears" style="margin-right: 5px"></i>
                  Administrar
                </a>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="id">
                <div class="flex justify-content-between align-items-center">
                  Id
                  <p-sortIcon field="id" />
                </div>
              </th>
              <th pSortableColumn="nombre">
                <div class="flex justify-content-between align-items-center">
                  Nombre
                  <p-sortIcon field="nombre" />
                </div>
              </th>
              <th pSortableColumn="existencia">
                <div class="flex justify-content-between align-items-center">
                  Existencia
                  <p-sortIcon field="existencia" />
                </div>
              </th>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-component>
            <tr class="p-selectable-row">
              <td>
                {{ component.id }}
              </td>
              <td>
                {{ component.nombre }}
              </td>
              <td>
                {{ component.existencia }}
              </td>
              <td>
                <a
                  [routerLink]="['/detalle-componente', component.id]"
                  class="btn btn-primary"
                >
                  <i class="fa-solid fa-eye"></i>&nbsp;Detalle
                </a>
              </td>
              <td>
                <a
                  class="btn btn-success"
                  [routerLink]="['/agregar-lote', component.id]"
                >
                  <i class="fa-solid fa-plus"></i>&nbsp;Agregar lote
                </a>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <div *ngIf="cargando" class="spinner-overlay">
      <div class="spinner-container">
        <div class="spinner-wrapper">
          <p-progressSpinner
            styleClass="w-7rem h-7rem"
            strokeWidth="6"
            fill="var(--surface-ground)"
            animationDuration=".8s"
          >
          </p-progressSpinner>
          <img
            src="assets/images/logo-farolito.webp"
            alt="Logo de farolito"
            class="spinner-logo"
          />
        </div>
        <p class="spinner-message">Espere por favor...</p>
      </div>
    </div>
  </div>
</div>

<ng-template #mermarLamparaModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Mermar Lámpara</h4>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="mermarLampara()">
      <div class="mb-3">
        <label for="cantidadLampara" class="form-label">Cantidad</label>
        <input
          type="number"
          id="cantidadLampara"
          class="form-control"
          [(ngModel)]="selectedLamp.cantidad"
          name="cantidad"
          required
        />
      </div>
      <div class="mb-3">
        <label for="descripcionLampara" class="form-label">Descripción</label>
        <textarea
          id="descripcionLampara"
          class="form-control"
          [(ngModel)]="selectedLamp.descripcion"
          name="descripcion"
          required
        ></textarea>
      </div>
      <input
        id="inventariolamparaId"
        [(ngModel)]="selectedLamp.id"
        name="inventariolamparaId"
        hidden
      />
      <button type="submit" class="btn btn-success" style="margin-right: 20px">
        Confirmar
      </button>
      <button type="button" class="btn btn-danger" (click)="modal.dismiss()">
        Cancelar
      </button>
    </form>
  </div>
</ng-template>

<ng-template #mermarComponenteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Mermar Componente</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="cantidadComponente" class="form-label">Cantidad</label>
        <input
          type="number"
          id="cantidadComponente"
          class="form-control"
          [(ngModel)]="selectedComponent.cantidad"
          name="cantidad"
          required
        />
      </div>
      <div class="mb-3">
        <label for="descripcionComponente" class="form-label"
          >Descripción</label
        >
        <textarea
          id="descripcionComponente"
          class="form-control"
          [(ngModel)]="selectedComponent.descripcion"
          name="descripcion"
          required
        ></textarea>
      </div>
      <input
        id="inventarioComponenteId"
        [(ngModel)]="selectedComponent.id"
        name="inventarioComponenteId"
        hidden
      />
      <button
        class="btn btn-success"
        style="margin-right: 20px"
        (click)="mermarComponente()"
      >
        Confirmar
      </button>
      <button type="button" class="btn btn-danger" (click)="modal.dismiss()">
        Cancelar
      </button>
    </form>
  </div>
</ng-template>
