<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <h3 class="card-header text-center">
          <i class="fa-solid fa-user-plus"></i>&nbsp;&nbsp;Registrar Empleado
        </h3>
        <div class="card-content">
          <form class="form-grid">
            <div class="form-section">
              <div class="row">
                <div class="col-4">
                  <div class="form-floating mt-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Nombre:"
                      id="nombre-empresa"
                    />
                    <label for="floatingInput">Nombres:</label>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-floating mt-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Apellidos:"
                      id="apellido"
                    />
                    <label for="floatingInput">Apellidos:</label>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-floating mt-3">
                    <p-dropdown
                      [options]="roles"
                      [(ngModel)]="selectedRol"
                      [checkmark]="true"
                      [showClear]="true"
                      optionLabel="name"
                      placeholder="Selecciona un rol:"
                      name="rol"
                    ></p-dropdown>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="form-floating mt-3">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email:"
                      id="email"
                    />
                    <label for="floatingInput">Email:</label>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-floating mt-3">
                    <input
                      type="tel"
                      class="form-control"
                      placeholder="Telefono:"
                      id="telefono"
                    />
                    <label for="floatingInput">Telefono:</label>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-floating mt-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Direccion:"
                      id="direccion"
                    />
                    <label for="floatingInput">Direccion:</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-floating mt-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Username:"
                      id="username"
                    />
                    <label for="floatingInput">Username:</label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-floating mt-3">
                    <p-password
                      [(ngModel)]="value"
                      [toggleMask]="true"
                      placeholder="Password"
                    ></p-password>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="button-container">
            <button class="btn btn-success btn-lg">
              <i class="fa-solid fa-floppy-disk"></i>&nbsp;&nbsp;Guardar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
