<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <h3 class="card-header text-center">
          <i class="fa-solid fa-user-plus"></i>&nbsp;&nbsp;Registrar Empleado
        </h3>
        <div class="card-content">
          <form class="form-grid" [formGroup]="formEmployee" (ngSubmit)="signUpEmployee()">
            <div class="form-section">
              <div class="row">
                <div class="col-4">
                  <div class="form-floating mt-3">
                    <input
                      type="text"
                      class="form-control"
                      id="nombre"
                      formControlName="name"
                    />
                    <label for="nombre">Nombres:</label>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-floating mt-3">
                    <input
                      type="text"
                      class="form-control"
                      id="apellido"
                      formControlName="lastName"
                    />
                    <label for="apellido">Apellidos:</label>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-floating mt-3">
                    <p-dropdown
                      [options]="roles"
                      [(ngModel)]="selectedRol"
                      [checkmark]="true"
                      [showClear]="true"
                      optionLabel="name"
                      placeholder="Selecciona un rol:"
                      formControlName="roles"
                    ></p-dropdown>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="form-floating mt-3">
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      formControlName="email"
                    />
                    <label for="email">Email:</label>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-floating mt-3">
                    <input
                      type="tel"
                      class="form-control"
                      id="telefono"
                    />
                    <label for="telefono">Telefono:</label>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-floating mt-3">
                    <input
                      type="text"
                      class="form-control"
                      id="direccion"
                    />
                    <label for="direccion">Direccion:</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-floating mt-3">
                    <input
                      type="text"
                      class="form-control"
                      id="username"
                    />
                    <label for="username">Username:</label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-floating mt-3">
                    <p-password 
                      formControlName="password"
                      [(ngModel)]="value"
                      [toggleMask]="true"
                      placeholder="Password"
                    ></p-password>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="button-container">
                <button class="btn btn-success btn-lg" type="submit">
                  <i class="fa-solid fa-floppy-disk"></i>&nbsp;&nbsp;Guardar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
