<div class="contenido">
  <div id="signup-container" class="container">
    <div class="logo">
      <img src="assets/images/logo-farolito.png" alt="Logo" />
    </div>
    <h1 class="farolito-name">Farolito</h1>
    <div class="divider"></div>
    <!-- <p>Create your account to start working with your team</p> -->
    <div class="form-floating mt-2">
      <input
        type="email"
        class="form-control"
        placeholder="Email:"
        id="signup-email"
      />
      <label for="floatingInput">Email:</label>
    </div>
    <div class="form-floating mt-2">
      <input
        type="text"
        class="form-control"
        placeholder="Username:"
        id="signup-username"
      />
      <label for="floatingInput">Username:</label>
    </div>
    <div class="form-floating mt-2 mb-3">
      <input
        type="password"
        class="form-control"
        placeholder="Password:"
        id="signup-password"
      />
      <label for="floatingInput">Password:</label>
    </div>
    <button class="signup-button">Registrarse</button>
    <p class="sign-in">
      ¿Ya tienes una cuenta?
      <a routerLink="/login">Ingresar</a>
    </p>
  </div>
</div>
