<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <h3 class="card-header text-center">
          <i class="fa-solid fa-truck"></i>&nbsp;&nbsp; Editar Proveedor
        </h3>
        <div class="card-content">
          <form
            class="form-grid"
            [formGroup]="formProvider"
            (ngSubmit)="editarProveedor()"
          >
            <div class="form-section">
              <div class="form-floating mt-2">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nombre:"
                  id="nombreEmpresa"
                  formControlName="nombreEmpresa"
                  (keydown)="validateInput($event)"
                />
                <label for="floatingInput">Nombre de la Empresa:</label>
              </div>
              <div class="form-floating mt-2">
                <input
                  type="text"
                  class="form-control"
                  id="direccion"
                  placeholder="Direccion:"
                  formControlName="direccion"
                  (keydown)="validateInput($event)"
                />
                <label for="floatingInput">Direccion:</label>
              </div>

              <div class="form-floating mt-2">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Telefono:"
                  id="telefono"
                  formControlName="telefono"
                  (keydown)="validatePhoneNumber($event)"
                />
                <label for="floatingInput">Telefono:</label>
              </div>
              <div class="form-floating mt-2">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Atendido por:"
                  id="nombreAtiende"
                  formControlName="nombreAtiende"
                  (keydown)="validateInput($event)"
                />
                <label for="floatingInput">Atendido por:</label>
              </div>
              <div class="form-floating mt-2">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Atendido por:"
                  id="apellidoP"
                  formControlName="apellidoP"
                  (keydown)="validateInput($event)"
                />
                <label for="floatingInput">Apellido Paterno:</label>
              </div>
              <div class="form-floating mt-2">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Atendido por:"
                  id="apellidoM"
                  formControlName="apellidoM"
                  (keydown)="validateInput($event)"
                />
                <label for="floatingInput">Apellido Materno:</label>
              </div>
            </div>
            <div class="form-section">
              <label class="header">
                <i class="fa-solid fa-layer-group"> </i>&nbsp;&nbsp;Componentes
              </label>
              <label
                *ngFor="let componente of listaComponentes"
                class="label-checkbox"
              >
                <input
                  type="checkbox"
                  [checked]="componentesSeleccionados[componente.id]"
                  (change)="toggleCheckbox(componente.id, $event)"
                />
                {{ componente.nombre }}
              </label>

              <div class="card-footer">
                <div class="button-container">
                  <button class="btn btn-success btn-lg" type="submit">
                    <i class="fa-solid fa-floppy-disk"></i>&nbsp;&nbsp;Guardar
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
