<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <h3 class="card-header text-center">
          <i class="fa-solid fa-truck"></i>&nbsp;&nbsp; Editar Proveedor
        </h3>
        <div class="card-content">
          <form class="form-grid">
            <div class="form-section">
              <div class="form-floating mt-2">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nombre:"
                  id="nombre-empresa"
                />
                <label for="floatingInput">Nombre de la Empresa:</label>
              </div>
              <div class="form-floating mt-2">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Direccion:"
                  id="direccion"
                />
                <label for="floatingInput">Direccion:</label>
              </div>
              <div class="form-floating mt-2">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Telefono:"
                  id="telefono"
                />
                <label for="floatingInput">Telefono:</label>
              </div>
            </div>
            <div class="form-section">
              <div class="form-floating mt-2">
                <textarea
                  id="products-services"
                  class="textarea"
                  rows="2"
                  placeholder="Describe los productos o servicios a ofrecer:"
                ></textarea>
              </div>
              <div class="form-floating">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Email:"
                  id="email"
                />
                <label for="floatingInput">Email:</label>
              </div>
              <div class="form-floating mt-2">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Atendido por:"
                  id="atendido-por"
                />
                <label for="floatingInput">Atendido por:</label>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="button-container">
            <button class="btn btn-dark btn-lg">
              <i class="fa-solid fa-floppy-disk"></i>&nbsp;&nbsp;Guardar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
