<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <h3 class="card-header text-center">
          <i class="fas fa-pencil"></i>&nbsp;&nbsp;Editar Receta
        </h3>
        <div class="card-content">
          <form class="form-grid">
            <div class="form-section">
              <div class="form-floating">
                <div class="mt-4">
                  <img
                    [src]="getImagen(recetaImagen)"
                    alt="{{ nombreReceta }}"
                    width="160"
                    class="img-fluid"
                    style="margin-left: 75px;"
                  />
                </div>
                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control mt-3"
                    placeholder="Nombre:"
                    id="nombre-receta"
                    [(ngModel)]="nombreReceta"
                    name="nombreReceta"
                    (keydown)="validateInput($event)"
                  />
                  <label for="nombre-receta">Nombre:</label>
                </div>
                <div class="button-container mt-4 text-center">
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="guardarReceta()"
                  >
                    <i class="fa-solid fa-save"></i>&nbsp;&nbsp;Guardar Receta
                  </button>
                </div>
              </div>
            </div>
            <div class="form-section">
              <label class="header">
                <i class="fa-solid fa-layer-group"></i>&nbsp;&nbsp;Componentes
              </label>
              <div
                *ngFor="let component of listaComponentes"
                class="field-checkbox"
              >
                <input
                  type="checkbox"
                  id="component-{{ component.id }}"
                  [checked]="isComponentSelected(component)"
                  (change)="onCheckboxChange($event, component)"
                />
                <label for="component-{{ component.id }}">
                  {{ component.nombre }}
                </label>
                <div *ngIf="isComponentSelected(component)" class="m-3">
                  <label for="cantidad-{{ component.id }}">
                    ¿Cuánta cantidad requiere de este material?
                  </label>
                  <input
                    type="number"
                    id="cantidad-{{ component.id }}"
                    class="form-control mb-3"
                    [(ngModel)]="cantidadRequerida[component.id]"
                    placeholder="Cantidad"
                    min="0"
                    name="cantidad-{{ component.id }}"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Pues el footer, ¿qué otra cosa sería? -->
<footer class="footer mt-5">
  <div class="footer-top">
    <div class="footer-newsletter">
      <h4>Farolito</h4>
      <p>
        ¡Siguenos en nuestras redes sociales en X (antes twitter) y sé el
        primero en recibir las últimas noticias sobre tendencias, promociones y
        mucho más!
      </p>
      <a href="https://x.com/farolitoficial" target="_blank"
        >https://x.com/farolitoficial</a
      >
    </div>

    <div class="footer-social">
      <a href="https://x.com/farolitoficial" target="_blank"
        ><i class="fa-brands fa-x-twitter"></i
      ></a>
      <br />
      <p>farolitoficial</p>
    </div>
  </div>

  <div class="footer-middle">
    <div class="footer-section">
      <h5>TAF MÉXICO</h5>
      <ul>
        <li><a href="#">Nosotros</a></li>
        <li><a href="#">Tiendas</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h5>AYUDA</h5>
      <ul>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Promociones</a></li>
        <li><a href="#">Facturación</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h5>SERVICIO AL CLIENTE</h5>
      <ul>
        <li><label>Contacto:&nbsp;&nbsp;</label>+52 4772606019</li>
        <li><label>Email:&nbsp;&nbsp;</label>farolitonline&#64;gmail.com</li>
        <li>
          <label>Ubicacion:&nbsp;&nbsp;</label>Blvd. Adolfo Lopez Mateos #218,
          Col. El Coecillo, León Gto.
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="footer-legal">
      <a href="#">Términos de Uso</a>
      <a href="#">Aviso de Privacidad</a>
      <a href="#">Política de Cookies</a>
    </div>

    <div class="footer-payments">
      <img alt="Amex" src="../../../assets/images/footer/amex.jpeg" />
      <img
        alt="Mastercard"
        src="../../../assets/images/footer/mastercard.png"
      />
      <img alt="Visa" src="../../../assets/images/footer/visa.png" />
      <img alt="PayPal" src="../../../assets/images/footer/paypal.png" />
      <img alt="OXXO" src="../../../assets/images/footer/oxxo.png" />
      <img alt="Kueski" src="../../../assets/images/footer/kueski.png" />
    </div>
  </div>
</footer>