<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <h3 class="card-header text-center">
          <i class="fas fa-pencil"></i>&nbsp;&nbsp;Editar Receta
        </h3>
        <div class="card-content">
          <form class="form-grid">
            <div class="form-section">
              <div class="form-floating">
                <div class="mt-4">
                  <img
                    [src]="getImagen(recetaImagen)"
                    alt="{{ nombreReceta }}"
                    width="160"
                    class="img-fluid"
                    style="margin-left: 75px;"
                  />
                </div>
                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control mt-3"
                    placeholder="Nombre:"
                    id="nombre-receta"
                    [(ngModel)]="nombreReceta"
                    name="nombreReceta"
                  />
                  <label for="nombre-receta">Nombre:</label>
                </div>
                <div class="button-container mt-4 text-center">
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="guardarReceta()"
                  >
                    <i class="fa-solid fa-save"></i>&nbsp;&nbsp;Guardar Receta
                  </button>
                </div>
              </div>
            </div>
            <div class="form-section">
              <label class="header">
                <i class="fa-solid fa-layer-group"></i>&nbsp;&nbsp;Componentes
              </label>
              <div
                *ngFor="let component of listaComponentes"
                class="field-checkbox"
              >
                <input
                  type="checkbox"
                  id="component-{{ component.id }}"
                  [checked]="isComponentSelected(component)"
                  (change)="onCheckboxChange($event, component)"
                />
                <label for="component-{{ component.id }}">
                  {{ component.nombre }}
                </label>
                <div *ngIf="isComponentSelected(component)" class="m-3">
                  <label for="cantidad-{{ component.id }}">
                    ¿Cuánta cantidad requiere de este material?
                  </label>
                  <input
                    type="number"
                    id="cantidad-{{ component.id }}"
                    class="form-control mb-3"
                    [(ngModel)]="cantidadRequerida[component.id]"
                    placeholder="Cantidad"
                    min="0"
                    name="cantidad-{{ component.id }}"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
