<div class="carousel slide" id="heroCarousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img alt="Producto 1" class="d-block w-100 carousel-img" src="../../../assets/images/lampara-skewed.webp" />
      <div class="company-info">
        <h1 class="company-title">Farolito</h1>
        <div class="container-logo">
          <img alt="Farolito-Logo" class="company-logo" src="../../../assets/images/logo-farolito.webp" />
        </div>
      </div>
      <div class="carousel-caption">
        <h3>Bienvenido</h3>
        <p>Ilumina tus espacios con nuestros</p>
        <p style="margin-top: -30px">productos unicos</p>
      </div>
    </div>
    <div class="carousel-item">
      <img alt="Producto 3" class="d-block w-100 carousel-img" src="../../../assets/images/lampara-skewed-op3.jpg" />
      <div class="company-info">
        <h1 class="company-title">Farolito</h1>
        <div class="container-logo">
          <img alt="Farolito-Logo" class="company-logo" src="../../../assets/images/logo-farolito.webp" />
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#heroCarousel" type="button">
    <span aria-hidden="true" class="carousel-control-prev-icon"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#heroCarousel" type="button">
    <span aria-hidden="true" class="carousel-control-next-icon"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="carousel-container">
  <button (click)="prevGroup()" class="carousel-control prev">&#10094;</button>

  <div class="carousel-content">
    <div *ngFor="let product of displayedProducts" class="card-product">
      <div class="product-image-container">
        <img [src]="getImagenProducto(product.urlImage)" alt="{{ product.nombrelampara }}" class="product-image" />
      </div>
      <div class="product-info">
        <p class="product-name">{{ product.nombrelampara }}</p>
        <p class="product-price">${{ product.costo | number : "1.2-2" }}</p>
        <div class="quantity-container">
          <label for="quantity">Cantidad:</label>
          <input [(ngModel)]="cantidadSeleccionada[product.id]" id="quantity" min="1" placeholder="0" type="number" />
        </div>
        <button (click)="addToCart(product.id)" class="add-to-cart">
          Agregar <i class="fas fa-shopping-cart"></i>
        </button>
      </div>
    </div>
    <br />
  </div>
  <button (click)="nextGroup()" class="carousel-control next">&#10095;</button>
</div>
<h3 class="title-prox">¡Proximamente a la venta!</h3>
<div class="image-grid">
  <div class="image-item">
    <img alt="Imagen 1" src="../../../assets/images/list/lampara-list1.jpg" />
  </div>
  <div class="image-item">
    <img alt="Imagen 2" src="../../../assets/images/list/lampara-list2.jpg" />
  </div>
  <div class="image-item">
    <img alt="Imagen 3" src="../../../assets/images/list/lampara-list3.jpg" />
  </div>
  <div class="image-item">
    <img alt="Imagen 4" src="../../../assets/images/list/lampara-list4.jpg" />
  </div>
  <div class="image-item">
    <img alt="Imagen 5" src="../../../assets/images/list/lampara-list5.jpg" />
  </div>
  <div class="image-item">
    <img alt="Imagen 6" src="../../../assets/images/list/lampara-list6.jpg" />
  </div>
  <div class="image-item">
    <img alt="Imagen 7" src="../../../assets/images/list/lampara-list7.jpg" />
  </div>
  <div class="image-item">
    <img alt="Imagen 8" src="../../../assets/images/list/lampara-list8.jpg" />
  </div>
  <div class="image-item">
    <img alt="Imagen 9" src="../../../assets/images/list/lampara-list9.jpg" />
  </div>
  <div class="image-item">
    <img alt="Imagen 10" src="../../../assets/images/list/lampara-list10.jpg" />
  </div>
</div>

<footer class="footer mt-5">
  <div class="footer-top">
    <div class="footer-newsletter">
      <h4>Farolito</h4>
      <p>
        ¡Siguenos en nuestras redes sociales y sé el primero en recibir las
        últimas noticias sobre tendencias, promociones y mucho más!
      </p>
      <a>https://www.facebook.com/Farolito</a>
    </div>

    <div class="footer-social">
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-tiktok"></i></a>
    </div>
  </div>

  <div class="footer-middle">
    <div class="footer-section">
      <h5>TAF MÉXICO</h5>
      <ul>
        <li><a href="#">Nosotros</a></li>
        <li><a href="#">Tiendas</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h5>AYUDA</h5>
      <ul>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Promociones</a></li>
        <li><a href="#">Facturación</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h5>SERVICIO AL CLIENTE</h5>
      <ul>
        <li><label>Contacto:&nbsp;&nbsp;</label>+52 4772606019</li>
        <li><label>Email:&nbsp;&nbsp;</label>farolito&#64;gmail.com</li>
        <li>
          <label>Soporte:&nbsp;&nbsp;</label>soportefarolito&#64;gmail.com
        </li>
        <li>
          <label>Ubicacion:&nbsp;&nbsp;</label>Blvd. Adolfo Lopez Mateos #218,
          Col. El Coecillo, León Gto.
        </li>
      </ul>
    </div>

    <div class="footer-apps">
      <a href="#"><img alt="Disponible en Google Play" src="../../../assets/images/footer/google-play.png"
          style="width: 150px" /></a>
      <a href="#"><img alt="Descárgalo en App Store" src="../../../assets/images/footer/app-store.jpg"
          style="width: 150px" /></a>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="footer-legal">
      <a href="#">Términos de Uso</a>
      <a href="#">Aviso de Privacidad</a>
      <a href="#">Política de Cookies</a>
    </div>

    <div class="footer-payments">
      <img alt="Amex" src="../../../assets/images/footer/amex.jpeg" />
      <img alt="Mastercard" src="../../../assets/images/footer/mastercard.png" />
      <img alt="Visa" src="../../../assets/images/footer/visa.png" />
      <img alt="PayPal" src="../../../assets/images/footer/paypal.png" />
      <img alt="OXXO" src="../../../assets/images/footer/oxxo.png" />
      <img alt="Kueski" src="../../../assets/images/footer/kueski.png" />
    </div>
  </div>
</footer>
<div aria-controls="offcanvasRight" class="fixed-ball" data-bs-target="#offcanvasRight" data-bs-toggle="offcanvas"
  id="fixedBall">
  <i aria-hidden="true" class="fa-solid fa-cart-plus"></i>
  <span *ngIf="cartProducts.length > 0" class="cart-count">{{
    cartProducts.length
    }}</span>
</div>

<div aria-labelledby="offcanvasRightLabel" class="offcanvas offcanvas-end" id="offcanvasRight" tabindex="-1">
  <div class="offcanvas-header">
    <h3 class="offcanvas-title" id="offcanvasRightLabel">
      Mi carrito <i class="fa-solid fa-cart-arrow-down"></i>
    </h3>
    <button aria-label="Close" class="btn-close" data-bs-dismiss="offcanvas" type="button"></button>
  </div>
  <div class="offcanvas-body">
    <div *ngIf="!cartProducts.length" class="text-center">
      <p class="text-muted">Aún no has agregado productos</p>
    </div>
    <div *ngIf="cartProducts.length">
      <div *ngFor="let cart of cartProducts" class="d-flex mb-3">
        <img [alt]="cart.lamparaNombre" [src]="getImagenProducto(cart.urlImage)" class="img-thumbnail me-2"
          style="width: 150px; height: 150px" />
        <div>
          <h6>{{ cart.lamparaNombre }}</h6>
          <p class="fw-bold">Cantidad: {{ cart.cantidad }}</p>
        </div>
      </div>
      <a [attr.disabled]="!cartProducts.length ? true : null" [class.disabled]="!cartProducts.length"
        class="btn btn-success w-100" routerLink="/pagar-carrito">VER CARRITO Y PAGAR</a>
    </div>
  </div>
</div>
<div *ngIf="cargando" class="spinner-overlay">
  <div class="spinner-container">
    <div class="spinner-wrapper">
      <p-progressSpinner animationDuration=".8s" fill="var(--surface-ground)" strokeWidth="6"
        styleClass="w-7rem h-7rem">
      </p-progressSpinner>
      <img alt="Logo de farolito" class="spinner-logo" src="assets/images/logo-farolito.webp" />
    </div>
    <p class="spinner-message">Espere por favor...</p>
  </div>
</div>