<div class="container">
  <div class="row">
    <div class="col-12 mt-5">
      <p-table
        #dtDetalleComponentes
        [value]="componentDetail?.detalles || []"
        [scrollable]="true"
        scrollHeight="270px"
        [rowHover]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        [paginator]="true"
        currentPageReportTemplate="Mostrando {first} de {last}"
        [filterDelay]="0"
        [globalFilterFields]="['proveedorNombre']"
      >
        <ng-template pTemplate="caption">
          <div class="text-center">
            <div class="d-flex justify-content-center">
              <h3 class="mt-2">
                <b>
                  <i class="fa-solid fa-layer-group"></i>&nbsp;&nbsp;{{
                    nombreComponente
                  }}
                </b>
              </h3>
              <p-iconField iconPosition="left" style="margin-left: 100px">
                <p-inputIcon>
                  <i class="pi pi-search"></i>
                </p-inputIcon>
                <input
                  pInputText
                  type="text"
                  placeholder="Buscar por componente:"
                  class="mt-1"
                  (input)="applyFilterGlobal($event, 'dtDetalleComponentes')"
                  (keydown)="validateInput($event)"
                />
              </p-iconField>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id" hidden>
              <div class="flex justify-content-between align-items-center">
                Id
                <p-sortIcon field="id" />
              </div>
            </th>
            <th pSortableColumn="cantidad" style="max-width: 5rem">
              <div class="flex justify-content-between align-items-center">
                Cantidad
                <p-sortIcon field="cantidad" />
              </div>
            </th>
            <th pSortableColumn="proveedorNombre">
              <div class="flex justify-content-between align-items-center">
                Proveedor
                <p-sortIcon field="proveedorNombre" />
              </div>
            </th>
            <th pSortableColumn="fechaCompra">
              <div class="flex justify-content-between align-items-center">
                Fecha de Compra
                <p-sortIcon field="fechaCompra" />
              </div>
            </th>
            <th pSortableColumn="precioUnitario">
              <div class="flex justify-content-between align-items-center">
                Precio Unitario
                <p-sortIcon field="precioUnitario" />
              </div>
            </th>
            <th>&nbsp;</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-detail>
          <tr class="p-selectable-row">
            <td style="display: none">{{ detail.id }}</td>
            <td>{{ detail.cantidad }}</td>
            <td>{{ detail.proveedorNombre }}</td>
            <td>{{ detail.fechaCompra }}</td>
            <td>{{ detail.precioUnitario }}</td>
            <td>
              <a
                class="btn btn-danger"
                (click)="
                  openMermarComponenteModal(mermarComponenteModal, detail)
                "
              >
                <i class="fa-solid fa-trash"></i>&nbsp;Mermar
              </a>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div *ngIf="cargando" class="spinner-overlay">
      <div class="spinner-container">
        <div class="spinner-wrapper">
          <p-progressSpinner
            styleClass="w-7rem h-7rem"
            strokeWidth="6"
            fill="var(--surface-ground)"
            animationDuration=".8s"
          >
          </p-progressSpinner>
          <img
            src="assets/images/logo-farolito.webp"
            alt="Logo de farolito"
            class="spinner-logo"
          />
        </div>
        <p class="spinner-message">Espere por favor...</p>
      </div>
    </div>
  </div>
</div>
<ng-template #mermarComponenteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Mermar Componente</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="cantidadComponente" class="form-label">Cantidad</label>
        <input
          type="number"
          id="cantidadComponente"
          class="form-control"
          [(ngModel)]="selectedComponent.cantidadd"
          name="cantidad"
          required
        />
      </div>
      <div class="mb-3">
        <label for="descripcionComponente" class="form-label"
          >Descripción</label
        >
        <textarea
          id="descripcionComponente"
          class="form-control"
          [(ngModel)]="selectedComponent.descripcion"
          name="descripcion"
          required
        ></textarea>
      </div>
      <input
        id="inventarioComponenteId"
        [(ngModel)]="selectedComponent.id"
        name="inventarioComponenteId"
        hidden
      />
      <button
        class="btn btn-success"
        style="margin-right: 20px"
        (click)="mermarComponente()"
      >
        Confirmar
      </button>
      <button type="button" class="btn btn-danger" (click)="modal.dismiss()">
        Cancelar
      </button>
    </form>
  </div>
</ng-template>
