.textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.textarea {
  resize: vertical;
}

.custom-checkbox {
  padding: 3px;
}

.scroll {
  max-height: 440px;
  overflow-y: scroll;
}

.scroll-components {
  max-height: 150px;
  overflow-y: scroll;
}

.card-header {
  position: sticky;
  z-index: 100;
  background-color: black;
  color: white;
  top: 0;
}

.header {
  position: sticky;
  z-index: 100;
  background-color: rgb(231, 231, 228);
  top: 0;
  color: black;
  width: 270px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.custom-table {
  width: 100%;
  table-layout: fixed;
}

.custom-table th,
.custom-table td {
  font-size: 11px;
  text-align: center;
  padding: 3px;
  overflow: hidden;
}

.custom-table td {
  background-color: #ffffff;
}
.footer {
  background-color: #f8f8f8;
  padding: 40px 20px;
  color: #333;
}

.footer h4,
.footer h5 {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer a {
  color: #333;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.footer-newsletter {
  width: 60%;
}

.footer-social a {
  margin: 0 10px;
  font-size: 40px;
  color: #333;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-apps a {
  display: block;
  margin-bottom: 10px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}

.footer-legal a {
  margin-right: 15px;
}

.footer-payments img {
  height: 30px;
  margin-right: 10px;
}
