<div class="container">
  <div class="row">
    <!-- Sección de administración de recetas -->
    <div class="col-8">
      <div class="card mt-4 scroll">
        <h3 class="card-header text-center">
          <i class="fa-solid fa-list"></i>&nbsp;&nbsp;Administracion de Recetas
        </h3>
        <p-accordion [multiple]="true" class="m-3">
          <p-accordionTab
            *ngFor="let recipe of recipes"
            [header]="recipe.nombrelampara"
          >
            <div class="row">
              <div class="col-6 text-center" style="font-size: 18px">
                <div style="text-align: start">
                  <div class="table-container">
                    <table
                      class="table table-striped table-bordered table-sm custom-table"
                    >
                      <thead>
                        <tr>
                          <th>Componente</th>
                          <th>Precio U</th>
                          <th>Precio T</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of recipe.componentes">
                          <td>{{ item.cantidad }} &nbsp;{{ item.nombre }}</td>
                          <td>{{ "$" + item.precioUnitario }}</td>
                          <td>{{ "$" + item.precioTotal }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="row">
                  <div class="col-12 text-center">
                    <img
                      [src]="getImagen(recipe.imagen)"
                      alt="{{ recipe.nombrelampara }}"
                      width="160"
                      class="img-fluid"
                    />
                    <p class="mt-3">
                      <b>Costo de produccion:&nbsp;&nbsp;</b>
                      <i class="fa-solid fa-dollar-sign"></i
                      >{{ recipe.costoProduccion }}
                    </p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-6 text-center">
                    <button
                      class="btn btn-danger"
                      type="submit"
                      (click)="
                        advertenciaEstatus(modalEstatusReceta, recipe.id)
                      "
                    >
                      <i class="fas fa-trash"></i>&nbsp;Eliminar
                    </button>
                  </div>
                  <div class="col-6 text-center">
                    <button
                      class="btn btn-primary"
                      (click)="editarReceta(recipe)"
                    >
                      <i class="fa-solid fa-pen"></i>&nbsp;Editar
                    </button>
                  </div>
                </div>
                <!-- Archivo de imagen -->
                <div class="row mt-3">
                  <form>
                    <div class="form-floating mt-2">
                      <div class="input-group-dark">
                        <input
                          type="file"
                          class="form-control"
                          id="inputGroupFile"
                          (change)="cargarFoto($event)"
                          accept=".webp"
                        />
                      </div>
                    </div>
                    <button
                      class="btn btn-success mt-3"
                      type="submit"
                      (click)="subirFoto(recipe.id)"
                      style="margin-left: 130px"
                    >
                      <i class="fa-solid fa-image"></i>&nbsp;Agregar
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
      </div>
    </div>

    <!-- Sección de agregar receta -->
    <div class="col-4">
      <div class="card mt-4">
        <h3 class="card-header text-center">
          <i class="fa-solid fa-file-circle-plus"></i>&nbsp;&nbsp;Agregar Receta
        </h3>
        <div class="card-content m-3">
          <form class="form-grid">
            <div class="form-section">
              <!-- Nombre de la receta -->
              <div class="row">
                <div class="col-12">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Nombre:"
                      id="nombre-receta"
                      [(ngModel)]="nombreReceta"
                      name="nombreReceta"
                      (keydown)="validateInput($event)"
                    />
                    <label for="nombre-receta">Nombre:</label>
                  </div>
                </div>
              </div>

              <!-- Componentes -->
              <div class="row">
                <div class="col-12">
                  <div
                    class="card scroll-components mt-3 mb-3"
                    style="border: none"
                  >
                    <div class="form-floating">
                      <div class="flex flex-column gap-2 p-3">
                        <label class="header mb-2">
                          <i class="fa-solid fa-layer-group"></i
                          >&nbsp;&nbsp;Componentes
                        </label>
                        <div
                          *ngFor="let component of listaComponentes"
                          class="field-checkbox"
                        >
                          <p-checkbox
                            [label]="component.nombre"
                            name="group"
                            [value]="component"
                            (onChange)="onCheckboxChange($event, component)"
                            class="custom-checkbox"
                          ></p-checkbox>
                          <!-- Campo de cantidad -->
                          <div
                            *ngIf="isComponentSelected(component)"
                            class="m-3"
                          >
                            <label for="cantidad-{{ component.id }}">
                              ¿Cuánta cantidad requiere de este material?
                            </label>
                            <input
                              type="number"
                              id="cantidad-{{ component.id }}"
                              class="form-control mb-3"
                              [(ngModel)]="cantidadRequerida[component.id]"
                              placeholder="Cantidad"
                              min="0"
                              name="cantidad-{{ component.id }}"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Botón de guardar -->
              <div class="row mt-3">
                <div class="col-12 text-center">
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="crearReceta()"
                  >
                    <i class="fa-solid fa-save"></i>&nbsp;&nbsp;Guardar Receta
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalEstatusReceta let-modal>
  <div class="modal-header">
    <h5 class="modal-title text-center p-2" id="exampleModalLongTitle">
      <i class="fa-solid fa-circle-exclamation" style="color: red"></i
      >&nbsp;&nbsp;¿Desea eliminar esta receta?
    </h5>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="cancelarActualizacion()"
    >
      Cancelar
    </button>
    <button
      type="button"
      class="btn btn-success"
      (click)="ActualizarEstatusReceta()"
    >
      Aceptar
    </button>
  </div>
</ng-template>

<div *ngIf="cargando" class="spinner-overlay">
  <div class="spinner-container">
    <div class="spinner-wrapper">
      <p-progressSpinner
        styleClass="w-7rem h-7rem"
        strokeWidth="6"
        fill="var(--surface-ground)"
        animationDuration=".8s"
      >
      </p-progressSpinner>
      <img
        src="assets/images/logo-farolito.webp"
        alt="Logo de farolito"
        class="spinner-logo"
      />
    </div>
    <p class="spinner-message">Espere por favor...</p>
  </div>
</div>
<!-- Pues el footer, ¿qué otra cosa sería? -->
<footer class="footer mt-5">
  <div class="footer-top">
    <div class="footer-newsletter">
      <h4>Farolito</h4>
      <p>
        ¡Siguenos en nuestras redes sociales en X (antes twitter) y sé el
        primero en recibir las últimas noticias sobre tendencias, promociones y
        mucho más!
      </p>
      <a href="https://x.com/farolitoficial" target="_blank"
        >https://x.com/farolitoficial</a
      >
    </div>

    <div class="footer-social">
      <a href="https://x.com/farolitoficial" target="_blank"
        ><i class="fa-brands fa-x-twitter"></i
      ></a>
      <br />
      <p>farolitoficial</p>
    </div>
  </div>

  <div class="footer-middle">
    <div class="footer-section">
      <h5>TAF MÉXICO</h5>
      <ul>
        <li><a href="#">Nosotros</a></li>
        <li><a href="#">Tiendas</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h5>AYUDA</h5>
      <ul>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Promociones</a></li>
        <li><a href="#">Facturación</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h5>SERVICIO AL CLIENTE</h5>
      <ul>
        <li><label>Contacto:&nbsp;&nbsp;</label>+52 4772606019</li>
        <li><label>Email:&nbsp;&nbsp;</label>farolitonline&#64;gmail.com</li>
        <li>
          <label>Ubicacion:&nbsp;&nbsp;</label>Blvd. Adolfo Lopez Mateos #218,
          Col. El Coecillo, León Gto.
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="footer-legal">
      <a href="#">Términos de Uso</a>
      <a href="#">Aviso de Privacidad</a>
      <a href="#">Política de Cookies</a>
    </div>

    <div class="footer-payments">
      <img alt="Amex" src="../../../assets/images/footer/amex.jpeg" />
      <img
        alt="Mastercard"
        src="../../../assets/images/footer/mastercard.png"
      />
      <img alt="Visa" src="../../../assets/images/footer/visa.png" />
      <img alt="PayPal" src="../../../assets/images/footer/paypal.png" />
      <img alt="OXXO" src="../../../assets/images/footer/oxxo.png" />
      <img alt="Kueski" src="../../../assets/images/footer/kueski.png" />
    </div>
  </div>
</footer>